@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 mb-1 lg:mb-2 font-sans;
  }

  h1,
  .h1 {
    @apply text-[40px] lg:text-h1;
  }

  h2,
  .h2 {
    @apply text-3xl lg:text-h2 font-bold;
  }

  h3,
  .h3 {
    @apply text-[26px] lg:text-h3 font-bold leading-1 sm:leading-3;
  }

  h4,
  .h4 {
    @apply font-normal text-xl leading-3 lg:text-h4;
  }

  h5,
  .h5 {
    @apply text-lg lg:text-h5;
  }

  h6,
  .h6 {
    @apply text-base lg:text-h6;
  }

  p, ul {
    @apply font-sans text-xs font-light leading-snug lg:text-p;
  }

  .subheading {
    @apply font-light text-lg xl:text-3xl mb-2;
  }

  .hero-title {
    @apply font-bold text-4xl md:text-[50px] md:leading-none lg:text-[56px] 2xl:text-[68px];
  }

  .hero-subtitle {
    @apply text-sm md:text-base lg:text-lg font-normal;
  }
}

@layer components {
  button,
  .button,
  .hs-button {
    @apply px-[25px] py-1 font-sans font-medium tracking-wide uppercase text-white text-xs w-fit bg-pink;
  }

  .button-secondary {
    @apply px-[25px] py-1 font-sans font-medium tracking-wide uppercase text-grey text-xs w-fit bg-white;
  }

  button:hover,
  button:focus,
  .button:hover,
  .button:focus,
  button:active,
  .button:active {
    @apply bg-pinkDark;
  }

  .button-secondary:hover,
  .button-secondary:focus,
  .button-secondary:active {
    @apply bg-[#f8f8f8];
  }

  .menu__link {
    @apply py-1 px-0 block text-[26px] text-left text-white font-bold uppercase hover:bg-[#CBA1EC];
    @apply relative lg:font-medium lg:text-sm lg:leading-3 lg:text-grey lg:px-1 lg:py-2 lg:normal-case lg:hover:bg-transparent;
    @apply lg:after:absolute lg:after:content-[''] lg:after:bottom-[18px] lg:after:left-1 lg:after:w-0 lg:after:h-[2px] lg:after:bg-pink lg:after:transition-all lg:after:duration-300 lg:hover:after:w-[calc(100%-20px)];
    text-decoration: none;
  }
 
  .menu__item--open .menu__submenu {
    @apply flex;
  }

  .menu__item--open .menu__child-toggle-icon {
    @apply rotate-180;
  }

  .menu__submenu .menu__item {
    @apply hover:bg-[#F0F3F5] p-0 w-full;
  }

  .menu__submenu .menu__link {
    @apply block text-center lg:text-left py-[7px] px-1 text-[14px] lg:text-[12px] text-grey font-medium w-full uppercase lg:after:bottom-0 lg:after:left-0 lg:hover:after:w-full;
  }
}

@layer utilities {
  /* 
    From Safari 13, only display: none works with this pseudo-element. Other styles have no effect. 
    https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar#browser_compatibility
  */
  
  /* width */
  #scroll-navigation::-webkit-scrollbar {
      height: 3px;
      width: 0;
  }

  /* Track */
  /* Bed of the slider */
  #scroll-navigation::-webkit-scrollbar-track {
      background: transparent;
  }

  /* Handle */
  /* Slider */
  #scroll-navigation::-webkit-scrollbar-thumb {
      background: #D7B4F3;
      border-radius: 5px;
  }
}