*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  margin: 0px;
  margin-bottom: 20px;
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  font-size: 52px;
  line-height: 1;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  line-height: 2.25rem;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 48px;
    line-height: 1.25;
    font-weight: 700;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.333;
}

@media (min-width: 1024px) {
  h3 {
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.333;
}

@media (min-width: 1024px) {
  h4 {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 300;
  }
}

h5 {
  font-size: 20px;
  line-height: 1.4;
}

@media (min-width: 1024px) {
  h5 {
    font-size: 24px;
    line-height: 1.333;
    font-weight: 500;
  }
}

h6 {
  font-size: 18px;
  line-height: 1.555;
}

@media (min-width: 1024px) {
  h6 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
  }
}

p {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.25rem;
  font-weight: 300;
  line-height: 1.375;
}

@media (min-width: 1024px) {
  p {
    font-size: 18px;
    line-height: 1.375;
    font-weight: 300;
  }
}

button,
  .button {
  --tw-bg-opacity: 1;
  background-color: rgb(215 180 243 / var(--tw-bg-opacity, 1));
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

button:hover,
  button:focus,
  .button:hover,
  .button:focus,
  button:active,
  .button:active {
  --tw-bg-opacity: 1;
  background-color: rgb(197 152 234 / var(--tw-bg-opacity, 1));
}

.menu__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.menu__link:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(203 161 236 / var(--tw-bg-opacity, 1));
}

.menu__link {
  position: relative;
}

@media (min-width: 1024px) {
  .menu__link {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 500;
    text-transform: none;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(55 55 56 / var(--tw-text-opacity, 1));
  }

  .menu__link:hover {
    background-color: transparent;
  }

  .menu__link::after {
    position: absolute;
    bottom: 18px;
    left: 10px;
    height: 2px;
    width: 0px;
    --tw-bg-opacity: 1;
    background-color: rgb(215 180 243 / var(--tw-bg-opacity, 1));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    --tw-content: '';
    content: var(--tw-content);
  }

  .menu__link:hover::after {
    content: var(--tw-content);
    width: calc(100% - 20px);
  }
}

.menu__link {
  text-decoration: none;
}

.menu__item--open .menu__submenu {
  display: flex;
}

.menu__item--open .menu__child-toggle-icon {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.menu__submenu .menu__item {
  width: 100%;
  padding: 0px;
}

.menu__submenu .menu__item:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(240 243 245 / var(--tw-bg-opacity, 1));
}

.menu__submenu .menu__link {
  display: block;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(55 55 56 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .menu__submenu .menu__link {
    text-align: left;
    font-size: 12px;
  }

  .menu__submenu .menu__link::after {
    bottom: 0px;
    content: var(--tw-content);
    left: 0px;
  }

  .menu__submenu .menu__link:hover::after {
    content: var(--tw-content);
    width: 100%;
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.static {
  position: static;
}

.\!fixed {
  position: fixed !important;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.\!-left-\[35px\] {
  left: -35px !important;
}

.\!-right-\[35px\] {
  right: -35px !important;
}

.-top-\[65px\] {
  top: -65px;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-2 {
  bottom: 20px;
}

.bottom-\[-85px\] {
  bottom: -85px;
}

.left-0 {
  left: 0px;
}

.left-2 {
  left: 20px;
}

.left-\[-65px\] {
  left: -65px;
}

.left-\[20px\] {
  left: 20px;
}

.left-\[25px\] {
  left: 25px;
}

.left-\[50\%\] {
  left: 50%;
}

.right-0 {
  right: 0px;
}

.right-1 {
  right: 10px;
}

.right-\[20px\] {
  right: 20px;
}

.top-0 {
  top: 0px;
}

.top-\[-75px\] {
  top: -75px;
}

.top-\[25px\] {
  top: 25px;
}

.top-\[50\%\] {
  top: 50%;
}

.top-full {
  top: 100%;
}

.\!z-\[101\] {
  z-index: 101 !important;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-40 {
  z-index: 40;
}

.z-\[100\] {
  z-index: 100;
}

.z-\[2\] {
  z-index: 2;
}

.z-\[99\] {
  z-index: 99;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.m-0 {
  margin: 0px;
}

.m-\[0_auto\] {
  margin: 0 auto;
}

.m-auto {
  margin: auto;
}

.my-0\.5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mb-0\.5 {
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-8 {
  margin-bottom: 80px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 50px;
}

.ml-\[15px\] {
  margin-left: 15px;
}

.ml-\[unset\] {
  margin-left: unset;
}

.mr-3 {
  margin-right: 30px;
}

.mr-5 {
  margin-right: 50px;
}

.mr-\[unset\] {
  margin-right: unset;
}

.mt-0\.5 {
  margin-top: 5px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-10 {
  margin-top: 100px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.mt-auto {
  margin-top: auto;
}

.block {
  display: block;
}

.\!flex {
  display: flex !important;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.\!hidden {
  display: none !important;
}

.hidden {
  display: none;
}

.\!h-\[400px\] {
  height: 400px !important;
}

.h-0\.5 {
  height: 5px;
}

.h-\[10px\] {
  height: 10px;
}

.h-\[180px\] {
  height: 180px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[220px\] {
  height: 220px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[5px\] {
  height: 5px;
}

.h-\[6px\] {
  height: 6px;
}

.h-\[auto\] {
  height: auto;
}

.h-\[calc\(100vh-160px\)\] {
  height: calc(100vh - 160px);
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-min {
  height: -moz-min-content;
  height: min-content;
}

.h-screen {
  height: 100vh;
}

.max-h-\[200px\] {
  max-height: 200px;
}

.max-h-\[250px\] {
  max-height: 250px;
}

.max-h-\[300px\] {
  max-height: 300px;
}

.max-h-\[420px\] {
  max-height: 420px;
}

.max-h-\[70\%\] {
  max-height: 70%;
}

.max-h-full {
  max-height: 100%;
}

.min-h-\[250px\] {
  min-height: 250px;
}

.min-h-\[450px\] {
  min-height: 450px;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.w-1\/12 {
  width: 8.333333%;
}

.w-1\/5 {
  width: 20%;
}

.w-\[10px\] {
  width: 10px;
}

.w-\[12px\] {
  width: 12px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[300px\] {
  width: 300px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.min-w-\[260px\] {
  min-width: 260px;
}

.min-w-full {
  min-width: 100%;
}

.max-w-\[1000px\] {
  max-width: 1000px;
}

.max-w-\[1030px\] {
  max-width: 1030px;
}

.max-w-\[1200px\] {
  max-width: 1200px;
}

.max-w-\[1260px\] {
  max-width: 1260px;
}

.max-w-\[1520px\] {
  max-width: 1520px;
}

.max-w-\[170px\] {
  max-width: 170px;
}

.max-w-\[200px\] {
  max-width: 200px;
}

.max-w-\[250px\] {
  max-width: 250px;
}

.max-w-\[550px\] {
  max-width: 550px;
}

.max-w-\[750px\] {
  max-width: 750px;
}

.max-w-full {
  max-width: 100%;
}

.max-w-xl {
  max-width: 36rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.origin-center {
  transform-origin: center;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[-25px\] {
  --tw-translate-x: -25px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-25px\] {
  --tw-translate-y: -25px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform-none {
  transform: none;
}

.cursor-pointer {
  cursor: pointer;
}

.list-none {
  list-style-type: none;
}

.columns-1 {
  -moz-columns: 1;
       columns: 1;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0\.5 {
  gap: 5px;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.gap-5 {
  gap: 50px;
}

.gap-8 {
  gap: 80px;
}

.gap-\[5px\] {
  gap: 5px;
}

.self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.\!overflow-visible {
  overflow: visible !important;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[100px\] {
  border-radius: 100px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-none {
  border-radius: 0px;
}

.rounded-b-\[6px\] {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.rounded-t-\[6px\] {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l-\[10px\] {
  border-left-width: 10px;
}

.border-t-\[3px\] {
  border-top-width: 3px;
}

.border-none {
  border-style: none;
}

.border-pink {
  --tw-border-opacity: 1;
  border-color: rgb(215 180 243 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-b-white {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-l-blue {
  --tw-border-opacity: 1;
  border-left-color: rgb(184 208 252 / var(--tw-border-opacity, 1));
}

.border-l-pink {
  --tw-border-opacity: 1;
  border-left-color: rgb(215 180 243 / var(--tw-border-opacity, 1));
}

.border-t-\[\#6E43FF\] {
  --tw-border-opacity: 1;
  border-top-color: rgb(110 67 255 / var(--tw-border-opacity, 1));
}

.bg-\[\#6E43FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(110 67 255 / var(--tw-bg-opacity, 1));
}

.bg-black\/70 {
  background-color: rgb(0 0 0 / 0.7);
}

.bg-black\/\[\.2\] {
  background-color: rgb(0 0 0 / .2);
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(184 208 252 / var(--tw-bg-opacity, 1));
}

.bg-blue\/\[\.85\] {
  background-color: rgb(184 208 252 / .85);
}

.bg-grey {
  --tw-bg-opacity: 1;
  background-color: rgb(55 55 56 / var(--tw-bg-opacity, 1));
}

.bg-pink {
  --tw-bg-opacity: 1;
  background-color: rgb(215 180 243 / var(--tw-bg-opacity, 1));
}

.bg-pink\/\[\.08\] {
  background-color: rgb(215 180 243 / .08);
}

.bg-pink\/\[\.3\] {
  background-color: rgb(215 180 243 / .3);
}

.bg-pink\/\[\.85\] {
  background-color: rgb(215 180 243 / .85);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.bg-purpleGradient {
  background-image: linear-gradient(47.66deg, #A5C3FA -5.18%, #D1A1F7 102.55%);
}

.bg-textBaseGradient {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.45) 70.25%);
}

.from-\[\#6E43FF\] {
  --tw-gradient-from: #6E43FF var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(110 67 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#fc27479c\] {
  --tw-gradient-from: #fc27479c var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(252 39 71 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-blue {
  --tw-gradient-from: #B8D0FC var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(184 208 252 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-transparent {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#6630ceb8\] {
  --tw-gradient-to: #6630ceb8 var(--tw-gradient-to-position);
}

.to-\[\#6E43FF00\] {
  --tw-gradient-to: #6E43FF00 var(--tw-gradient-to-position);
}

.to-black\/\[\.38\] {
  --tw-gradient-to: rgb(0 0 0 / .38) var(--tw-gradient-to-position);
}

.to-pink {
  --tw-gradient-to: #D7B4F3 var(--tw-gradient-to-position);
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.stroke-white {
  stroke: #fff;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.px-\[25px\] {
  padding-left: 25px;
  padding-right: 25px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-10 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-9 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.py-\[130px\] {
  padding-top: 130px;
  padding-bottom: 130px;
}

.py-\[180px\] {
  padding-top: 180px;
  padding-bottom: 180px;
}

.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pb-10 {
  padding-bottom: 100px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pb-\[310px\] {
  padding-bottom: 310px;
}

.pl-5 {
  padding-left: 50px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-10 {
  padding-top: 100px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pt-6 {
  padding-top: 60px;
}

.pt-\[120px\] {
  padding-top: 120px;
}

.pt-\[130px\] {
  padding-top: 130px;
}

.pt-\[140px\] {
  padding-top: 140px;
}

.pt-\[56\.25\%\] {
  padding-top: 56.25%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.align-middle {
  vertical-align: middle;
}

.font-sans {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-2xl {
  font-size: 28px;
  line-height: 2rem;
}

.text-2xs {
  font-size: 12px;
  line-height: 1rem;
}

.text-3xl {
  font-size: 32px;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 40px;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 48px;
  line-height: 1;
}

.text-base {
  font-size: 18px;
  line-height: 1.555;
}

.text-lg {
  font-size: 20px;
  line-height: 1.4;
}

.text-sm {
  font-size: 16px;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 24px;
  line-height: 1.333;
}

.text-xs {
  font-size: 14px;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.\!leading-snug {
  line-height: 1.375 !important;
}

.leading-none {
  line-height: 1;
}

.leading-normal {
  line-height: 1.5;
}

.leading-snug {
  line-height: 1.375;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-\[2\.8px\] {
  letter-spacing: 2.8px;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.text-\[\#4A5B6E\] {
  --tw-text-opacity: 1;
  color: rgb(74 91 110 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-grey {
  --tw-text-opacity: 1;
  color: rgb(55 55 56 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-50 {
  opacity: 0.5;
}

.mix-blend-hard-light {
  mix-blend-mode: hard-light;
}

.shadow-\[0_0_40px_\#1B004E28\] {
  --tw-shadow: 0 0 40px #1B004E28;
  --tw-shadow-colored: 0 0 40px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-custom {
  --tw-shadow: 0 0 50px rgba(0, 0, 0, 0.10);
  --tw-shadow-colored: 0 0 50px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.drop-shadow-\[0px_0px_40px_\#00000014\] {
  --tw-drop-shadow: drop-shadow(0px 0px 40px #00000014);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-sm {
  --tw-drop-shadow: drop-shadow(0 0 25px rgba(0, 0, 0, 0.161));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-xs {
  --tw-drop-shadow: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-lg {
  --tw-backdrop-blur: blur(20px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:border-pinkDark:hover {
  --tw-border-opacity: 1;
  border-color: rgb(197 152 234 / var(--tw-border-opacity, 1));
}

.hover\:bg-\[\#b7babb\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(183 186 187 / var(--tw-bg-opacity, 1));
}

.hover\:bg-blueDark:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(157 188 244 / var(--tw-bg-opacity, 1));
}

.hover\:bg-pinkDark:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(197 152 234 / var(--tw-bg-opacity, 1));
}

.hover\:stroke-primary:hover {
  stroke: #6e43ff;
}

.hover\:text-\[\#6E43FF\]:hover {
  --tw-text-opacity: 1;
  color: rgb(110 67 255 / var(--tw-text-opacity, 1));
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(110 67 255 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.group:hover .group-hover\:left-\[15px\] {
  left: 15px;
}

.group:hover .group-hover\:top-\[15px\] {
  top: 15px;
}

.group:hover .group-hover\:translate-x-\[25px\] {
  --tw-translate-x: 25px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:translate-y-\[25px\] {
  --tw-translate-y: 25px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:bg-blue\/\[\.85\] {
  background-color: rgb(184 208 252 / .85);
}

.group:hover .group-hover\:bg-pink\/\[\.85\] {
  background-color: rgb(215 180 243 / .85);
}

@media (min-width: 640px) {
  .sm\:bottom-4 {
    bottom: 40px;
  }

  .sm\:left-4 {
    left: 40px;
  }

  .sm\:left-\[30px\] {
    left: 30px;
  }

  .sm\:right-\[30px\] {
    right: 30px;
  }

  .sm\:top-\[50\%\] {
    top: 50%;
  }

  .sm\:mb-0 {
    margin-bottom: 0px;
  }

  .sm\:h-\[500px\] {
    height: 500px;
  }

  .sm\:max-w-15 {
    max-width: 150px;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:p-4 {
    padding: 40px;
  }

  .sm\:text-5xl {
    font-size: 48px;
    line-height: 1;
  }

  .sm\:text-sm {
    font-size: 16px;
    line-height: 1.25rem;
  }
}

@media (min-width: 768px) {
  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:columns-2 {
    -moz-columns: 2;
         columns: 2;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:gap-10 {
    gap: 100px;
  }

  .md\:p-5 {
    padding: 50px;
  }

  .md\:px-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .md\:py-8 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .md\:pb-\[370px\] {
    padding-bottom: 370px;
  }

  .md\:pt-\[125px\] {
    padding-top: 125px;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-3xl {
    font-size: 32px;
    line-height: 2.25rem;
  }

  .md\:text-5xl {
    font-size: 48px;
    line-height: 1;
  }

  .md\:text-xl {
    font-size: 24px;
    line-height: 1.333;
  }
}

@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:-right-\[65px\] {
    right: -65px;
  }

  .lg\:bottom-3 {
    bottom: 30px;
  }

  .lg\:left-3 {
    left: 30px;
  }

  .lg\:left-\[-55px\] {
    left: -55px;
  }

  .lg\:right-\[-55px\] {
    right: -55px;
  }

  .lg\:top-0 {
    top: 0px;
  }

  .lg\:m-0 {
    margin: 0px;
  }

  .lg\:m-auto {
    margin: auto;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:ml-0 {
    margin-left: 0px;
  }

  .lg\:ml-5 {
    margin-left: 50px;
  }

  .lg\:mr-5 {
    margin-right: 50px;
  }

  .lg\:\!block {
    display: block !important;
  }

  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[6px\] {
    height: 6px;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-1\/4 {
    width: 25%;
  }

  .lg\:w-4\/5 {
    width: 80%;
  }

  .lg\:w-\[10px\] {
    width: 10px;
  }

  .lg\:w-max {
    width: -moz-max-content;
    width: max-content;
  }

  .lg\:max-w-lg {
    max-width: 32rem;
  }

  .lg\:columns-3 {
    -moz-columns: 3;
         columns: 3;
  }

  .lg\:grid-flow-col {
    grid-auto-flow: column;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:gap-3 {
    gap: 30px;
  }

  .lg\:gap-5 {
    gap: 50px;
  }

  .lg\:gap-\[120px\] {
    gap: 120px;
  }

  .lg\:rounded {
    border-radius: 0.25rem;
  }

  .lg\:rounded-\[6px\] {
    border-radius: 6px;
  }

  .lg\:stroke-grey {
    stroke: #373738;
  }

  .lg\:p-3 {
    padding: 30px;
  }

  .lg\:px-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .lg\:px-10 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .lg\:py-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:pb-9 {
    padding-bottom: 90px;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-3xl {
    font-size: 32px;
    line-height: 2.25rem;
  }

  .lg\:text-7xl {
    font-size: 56px;
    line-height: 1.142;
  }

  .lg\:text-\[80px\] {
    font-size: 80px;
  }

  .lg\:text-base {
    font-size: 18px;
    line-height: 1.555;
  }

  .lg\:text-lg {
    font-size: 20px;
    line-height: 1.4;
  }

  .lg\:text-xl {
    font-size: 24px;
    line-height: 1.333;
  }

  .lg\:leading-1 {
    line-height: 1.142;
  }

  .lg\:shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (min-width: 1280px) {
  .xl\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:w-2\/3 {
    width: 66.666667%;
  }

  .xl\:columns-4 {
    -moz-columns: 4;
         columns: 4;
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:flex-col {
    flex-direction: column;
  }

  .xl\:gap-10 {
    gap: 100px;
  }

  .xl\:gap-2 {
    gap: 20px;
  }

  .xl\:gap-\[160px\] {
    gap: 160px;
  }

  .xl\:px-\[130px\] {
    padding-left: 130px;
    padding-right: 130px;
  }

  .xl\:text-3xl {
    font-size: 32px;
    line-height: 2.25rem;
  }

  .xl\:text-base {
    font-size: 18px;
    line-height: 1.555;
  }
}

@media (min-width: 1536px) {
  .\32xl\:w-3\/5 {
    width: 60%;
  }

  .\32xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}