<div class="flex flex-col xl:flex-row justify-between gap-5 items-center">
	<div class="border-l-[10px] border-l-pink pl-5 max-w-[550px] h-min">
		<h2 class="font-bold text-5xl">{{ module.title }}</h2>
		<p class="font-light text-sm my-2 leading-normal">{{ module.description }}</p>
		{% if module.link_field.url.href != '' %}
		<a href="{{ module.link_field.url.href }}" class="flex gap-1 items-center">
			{{ module.link_label }}
			<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.83905 0.818481L5.00017 4.71926L0.83905 8.62004" stroke="#373738" stroke-width="2" />
			</svg>
		</a>
		{% endif %}
	</div>
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 2xl:grid-cols-3 gap-2 text-white uppercase">
		{% for card in module.cards %}
		<div class="w-[260px] h-[180px] rounded-md drop-shadow-sm flex flex-col justify-center items-center transition-all"
			style="background-color: {{card.card_color.color}}">
			<img src="{{card.image_field.src}}" alt="{{card.image_field.alt}}" class="mb-2">
			<p class="font-semibold">
				{{ card.card_title }}
			</p>
		</div>
		{% endfor %}

	</div>
</div>
