{% set hasAnyPremiumProduct = false %}
  
<div class="relative py-3 {{ 'px-4 md:px-8' if module.show_decorators else 'px-4' }}">
  {% if module.show_decorators eq true %}
  <div class="absolute top-0 right-0 bg-blue w-1/5 h-[10px]"></div>
  <div class="absolute top-0 right-0 bg-blue w-[10px] max-h-[300px] h-full"></div>
  <div class="absolute bottom-0 left-0 bg-pink w-[10px] max-h-[300px] h-full"></div>
  <div class="absolute bottom-0 left-0 bg-pink w-1/12 h-[10px]"></div>
  {% endif %}

  <div class="flex flex-col md:flex-row gap-3 lg:gap-5 xl:gap-10 justify-center relative">
    {% for card in module.cards %}
      {% if card.premium_product == true %}
        {% set hasAnyPremiumProduct = true %}
      {% endif %}
    <div class="drop-shadow-xs lg:max-w-[600px] w-full lg:w-1/2 flex flex-col relative">
      {% if card.premium_product %}
        <div class="w-full bg-purpleGradient absolute top-0 left-0 z-10 py-[3px]">
          <p class="text-xl text-center text-white tracking-wider leading-1">Premium</p>
        </div>
      {% endif %}
      <div class=" flex items-end relative w-full h-[220px] sm:h-[250px] lg:h-[300px] p-2 sm:p-3 bg-cover bg-center"
        style="{{'background-image: url({{card.image_field.src}})'}}">
        <div class="bg-textBaseGradient absolute size-full top-0 left-0" />
        <{{ module.h_tag_choice }} class="text-lg md:text-xl lg:text-2xl text-white z-10 font-bold mb-0">
          {{ card.title }}</{{ module.h_tag_choice }}>
      </div>
      <div class="w-full h-[6px] bg-purpleGradient"></div>
      <div
        class="p-2 sm:p-3 gap-2 sm:gap-3 bg-white flex flex-col flex-1 justify-between">
        <p>{{ card.description }}</p>
        <div class="flex justify-between gap-1 flex-col sm:flex-row w-full items-start sm:items-center">
          {% if card.link_field.url.href != '' %}
            <a href="{{ card.link_field.url.href }}" {{ 'target="_blank"' if card.link_field.open_in_new_tab==true }}
              class="button">
              {{card.link_label}}
            </a>
          {% endif %}
          {% if card.show_secondary_link && card.secondary_link.url.href != '' %}
            <a href="{{ card.secondary_link.url.href }}" {{ 'target="_blank"' if card.secondary_link.open_in_new_tab }}
              class="button-tertiary">
              {{ card.secondary_link_label }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

