<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer text-white py-10 px-4 relative">

  <div class="footer__container m-[0_auto] max-w-[1520px]">

    <div class="footer-title-container">
      {% module 'Footer Logo'
        path='@hubspot/image',
        img={
          'src': get_asset_url('../../images/logos/Logo_White.png')
        }
        label="Logo"
      %}

      {% module 'Footer subtitle'
        path='@hubspot/rich_text',
        html={{ context.content || '<p class="mt-5 text-lg lg:text-3xl footer-description">Kvalitet bez kompromisa.</p>' }}
        label='Subtitle'
      %}

      <div class="w-full mt-4">
        <img src="{{get_asset_url('../../images/logos/seal_qr.jpg')}}" class="w-full" />
      </div>

    </div>

    <div class="footer-spacer"></div>

    <div class="footer-navigation">
      {% module 'Footer navigation'
        path='../../modules/footer-menu.module',
        label='Footer navigation'
      %}
    </div>

    <div class="footer-description">
      {% module 'About 1'
        path='@hubspot/rich_text',
        html='<div class="mt-2 mb-5"><small class="paragraph-small">We strive to have our business and services be accessible to all individuals, regardless of ability. If you experience any issues with our website, please do not hesitate to contact us</small></div>'
        label='About 1'
      %}
      {% module 'About 2'
        path='@hubspot/rich_text',
        html='<div class="mt-2 mb-5"><small class="paragraph-small">We strive to have our business and services be accessible to all individuals, regardless of ability. If you experience any issues with our website, please do not hesitate to contact us</small></div>'
        label='About 2'
      %}
    </div>

  </div>
</footer>
