<div class="
grid grid-cols-1 lg:grid-cols-2 gap-3 lg:gap-[120px] xl:gap-[160px]
">

  {% if module.reverse_content_direction == true %}
    <div class="flex w-full items-left m-auto lg:items-center flex-1">
      <div class="flex flex-col">
        <a href="{{ module.link.url.href }}" 
          {% if module.link.open_in_new_tab == true %}
            target="_blank" 
          {% endif %}
        >
          <p class="text-xl lg:text-4xl leading-tight font-bold mb-2 lg:mb-4">{{ module.title }}</p>
        </a>
        <p class="text-light mb-2 lg:mb-4">{{ module.description }}</p>
        <a href="{{ module.link.url.href }}"
          {% if module.link.open_in_new_tab == true %}
            target="_blank" 
          {% endif %}
           class="button w-fit uppercase">
           {{ module.link_label }}
        </a>
      </div>
    </div>
    <img src="{{ module.image_field.src }}" loading="lazy" alt="{{ module.image.alt }}" class="object-cover object-center max-w-[750px] w-full" width="750px"/>
    {% else %}
    <img src="{{ module.image_field.src }}" loading="lazy" alt="{{ module.image.alt }}" class="object-cover object-center max-w-[750px] w-full"/>
    <div class="flex w-full items-left m-auto lg:items-center flex-1">
      <div class="flex flex-col">
        <a href="{{ module.link.url.href }}" 
          {% if module.link.open_in_new_tab == true %}
            target="_blank" 
          {% endif %}
        >
          <p class="text-xl lg:text-4xl leading-tight font-bold mb-2 lg:mb-4">{{ module.title }}</p>
        </a>
        <p class="text-light mb-2 lg:mb-4">{{ module.description }}</p>
        <a href="{{ module.link.url.href }}"
          {% if module.link.open_in_new_tab == true %}
            target="_blank" 
          {% endif %}
           class="button w-fit uppercase">
           {{ module.link_label }}
        </a>
      </div>
    </div>
  {% endif %}
</div>
