/* Menu */

.menu--desktop {
  display: block;
  transition: 0.5s;
}

.menu--mobile {
  display: none;
}

.menu__wrapper{
  display: flex;
}

/* Menu items */

.menu__item {
  position: relative;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu__link {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: #373738;
}

.menu__link-wrapper{
  display: flex;
}

.menu--desktop .menu__item::after{
  position: absolute;
  content: '';
  bottom: 20px;
  left: 10px;
  width: 0px;
  height: 2px;
  background-color: var(--color-pink);
  transition: 0.3s ease-out;
}

.menu--desktop .menu__item:hover::after{
  width: calc(100% - 20px);
}

.menu__child-toggle-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu--desktop .menu__child-toggle-icon{
  margin-left: 5px;
}

.menu__child-toggle-icon #icon-small-arrow-left{
  visibility: hidden;
}

.menu__item--open .menu__child-toggle-icon,
.menu--desktop .menu__item:hover .menu__child-toggle-icon{
  transform: rotate(180deg);
}

.menu__aditional-container{
  text-align: center;
}

.menu__aditional-container a{
  background-color: var(--color-primary);
  color: var(--color-white);
}

.menu__submenu {
  padding: 20px 10px;
  flex-direction: column;
  text-transform: none;
  background-color: var(--color-white);
  box-shadow: 0px 3px 6px #00000029;;
  z-index: 99;
  border-radius: 4px;
  width: max-content;
  position: absolute;
  top: 100%;
  right: 10px;
  display: none;
}


.menu__item--open .menu__submenu{
  display: flex;
}

.menu__submenu .menu__item {
  padding: 0;
  text-transform: uppercase;
  justify-content: flex-start;
}

.menu__submenu .menu__link {
  display: block;
  padding: 7px 10px;
  font-size: 12px;
  color: #4A5B6E !important;
  font-weight: var(--font-weight-medium) !important;
}

.menu__submenu .menu__item:hover{
  background-color: #F0F3F5;
  cursor: pointer;
  text-decoration: none;
}

.toggle-icon-spacer{
    display: none;
}

@media (max-width: 1139px){
  .menu--desktop {
    display: none;
  }

  .menu--mobile {
    display: flex;
    flex-direction: row;
    padding-top: 130px;
  }

  .menu__wrapper{
    flex-direction: column;
    flex: 1;
  }

  .menu__aditional-container{
    background-color: #F3F3F3;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu__item {
    display: block;
    padding: 0;
  }

  .menu__link {
    padding: 10px 0 10px 30px;
    display: block;
    font-size: 26px;
    text-align: left;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
  }

  .menu__link:hover {
    background-color: #CBA1EC;
  }

  .menu--mobile .menu__link-wrapper{
    justify-content: flex-start;
  }

  .menu--mobile .menu__link-wrapper .menu__child-toggle-icon {
    margin-left: 14px;
  }

  .menu--mobile .menu__link-wrapper .menu__child-toggle-icon svg{
    width: 12px;
    height: 6px;
  }

  .menu--mobile .menu__link-wrapper .menu__child-toggle-icon svg path{
    stroke: #000;
  }

  .menu__item--open .menu__submenu{
    display: flex;
  }

  .menu__submenu {
    border: none;
    border-radius: 0;
    box-shadow: none;
    position: static;
    transform: unset;
    width: 100%;
    display: none;
    padding: 20px 30px
  }

  .menu__submenu .menu__item {
    background-color: #FFF;
    padding: 0;
  }

  .menu__submenu .menu__link {
    display: block;
    transition: none;
    padding: 7.5px 0;
    width: 100%;
    color: #4A5B6E;
    font-size: 14px;
  }

  .menu__submenu .menu__item .menu__link:hover,
  .menu__submenu .menu__item .menu__link:focus {
    background-color: inherit;
    transition: none;
    color: #4A5B6E;
  }
  .toggle-icon-spacer{
    display: none;
  }
}

@media (max-width: 767px) {
   .menu__aditional-container{
    padding-top: 40px;
    background-color: #F7F7FD;
  }

  .menu__link {
    text-align: center;
    padding: 10px 0;
  }

  .menu--mobile .menu__link-wrapper {
    justify-content: center;
  }

  .toggle-icon-spacer {
    display: flex;
  }
}


