
	{% set image_gallery = module.images %}
		<div class="w-full h-full">
			<div class="image-gallery-container columns-1 md:columns-2 lg:columns-3 xl:columns-4 gap-3">
				{% for image in image_gallery %}
					<img src="{{ image.image_field.src }}" loading="lazy" alt="{{ image.image_field.alt }}" width="500px" class="w-full object-cover block h-[auto] mb-3 rounded-[4px] hover:cursor-pointer">
				{% endfor %}
			</div>
			<div class="flex items-center justify-center mt-10">
				<button class="view-more-images-button hidden text-white font-cd">View More</button>
			</div>
		</div>
		<div class="w-full h-full">
			<div class="image-gallery-modal hidden fixed top-0 left-0 w-screen h-screen bg-black/70 z-[100]"></div>
			<div class="swiper image-gallery-swiper lg:rounded-[6px] !overflow-visible !fixed top-[50%]
				left-[50%] w-full lg:w-4/5 xl:w-2/3 2xl:w-3/5 max-w-[1030px] ml-[unset] mr-[unset] -translate-x-1/2 -translate-y-1/2 !z-[101] !hidden">
	  		<div class="swiper-wrapper image-gallery-swiper-wrapper">
	  			{% for image in image_gallery %}
	  				<div class="swiper-slide image-gallery-swiper-slide lg:rounded-[6px]">
		  				<img src="{{ image.image_field.src }}" loading="lazy" alt="{{ image.image_field.alt }}" width="500" class="w-full object-cover rounded-0 lg:rounded-[6px] h-[300px] sm:h-[500px]">
		  			</div>
	  			{% endfor %}
	  		</div>
	  		<div class="image-gallery-button-wrapper relative">
	        <div class="image-gallery-arrow image-gallery-arrow-left fixed left-[20px] sm:left-[30px] lg:left-[-55px] top-[50%] sm:top-[50%] w-[25px] h-[25px]"></div>
	        <div class="image-gallery-arrow image-gallery-arrow-right fixed right-[20px] sm:right-[30px] lg:right-[-55px] top-[50%] sm:top-[50%] w-[25px] h-[25px]"></div>
    		</div>
				<div class="image-gallery-close-modal-btn hover:cursor-pointer fixed -top-[65px] right-0 lg:top-0 lg:-right-[65px]">
					<svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41">
						<g id="Group_164269" data-name="Group 164269" transform="translate(-1307.462 -165)">
							<circle id="Ellipse_588" data-name="Ellipse 588" cx="20.5" cy="20.5" r="20.5" transform="translate(1307.462 165)"/>
							<g id="icon_Lg-close-x" transform="translate(1319.462 177)">
								<line id="Line_693" data-name="Line 693" x2="18" y2="18" fill="none" stroke="#fff" stroke-width="3"/>
								<line id="Line_694" data-name="Line 694" x1="18" y2="18" fill="none" stroke="#fff" stroke-width="3"/>
							</g>
						</g>
					</svg>
				</div>
		  </div>
		</div>

{% require_js %}
<script>

	if (!checkHeadForSwiper()) {
		let script = document.createElement('script');
		script.src = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js';
		script.defer = true;
		document.head.appendChild(script);

		let link = document.createElement('link');
		link.rel = 'stylesheet';
		link.href = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css';
		document.head.appendChild(link);
	}

	
  let imageGalleryContainer = document.querySelector(".image-gallery-container");
  let imageGalleryModalContainer = document.querySelector(".image-gallery-modal");
  let imageGalleryCloseModalBtn = document.querySelector(".image-gallery-close-modal-btn");
  let imageGallerySwiperContainer = document.querySelector(".image-gallery-swiper");
  let imageGallerySwiperWrapper = document.querySelector(".image-gallery-swiper-wrapper");
  let imageGalleryNavigationContainer = document.querySelector(".image-gallery-button-wrapper");
  let viewMoreImagesButton = document.querySelector(".view-more-images-button")
	let imageGallerySwipper;

  window.addEventListener('load', () => {

		imageGallerySwipper = new Swiper(".image-gallery-swiper", {
			slidesPerView: 1,
			spaceBetween: 30,
			effect: "fade",
			observer: true,
			navigation: {
				nextEl: ".image-gallery-arrow-right",
				prevEl: ".image-gallery-arrow-left",
			},
		});

		imageGalleryModalContainer.addEventListener("click", function() {
			toggleImageGalleryModal();
		});

		imageGalleryCloseModalBtn.addEventListener("click", function() {
			toggleImageGalleryModal();
		});

		viewMoreImagesButton.addEventListener("click", function(){
			viewMoreImages();
		});

		if(imageGalleryContainer.children.length > 16) {
			viewMoreImagesButton.style.display = "block";
			for(let j = 16; j < imageGalleryContainer.children.length; j++) {
				imageGalleryContainer.children[j].classList.remove('block');
				imageGalleryContainer.children[j].classList.add('hidden');
				imageGallerySwiperWrapper.children[j].classList.remove('block');
				imageGallerySwiperWrapper.children[j].classList.add('hidden');
			}
		}

		for(let k = 0; k < imageGalleryContainer.children.length; k++){
			imageGalleryContainer.children[k].addEventListener("click", function() {
				toggleImageGalleryModal();
				imageGallerySwipper.slideTo(k);
			});
		}

	});

	function toggleImageGalleryModal(){
		if(imageGalleryModalContainer.classList.contains('hidden')){
			imageGalleryModalContainer.classList.remove("hidden")
			imageGalleryModalContainer.classList.add("block")
			imageGallerySwiperContainer.classList.remove("!hidden")
			imageGallerySwiperContainer.classList.add("!flex")

			{# Had to add the update() method regardless of observer: true being active for mobile screens #}
			imageGallerySwipper.update()
		} else {
			imageGalleryModalContainer.classList.remove("block")
			imageGalleryModalContainer.classList.add("hidden")
			imageGallerySwiperContainer.classList.remove("!flex")
			imageGallerySwiperContainer.classList.add("!hidden")
		}
	}

	

	function viewMoreImages() {
		if(viewMoreImagesButton.innerHTML === 'View More'){
			for(let i = 16; i < imageGalleryContainer.children.length; i++) {
				imageGalleryContainer.children[i].classList.add('block');
				imageGalleryContainer.children[i].classList.remove('hidden');
				imageGallerySwiperWrapper.children[i].classList.add('block');
				imageGallerySwiperWrapper.children[i].classList.remove('hidden');
			}
			viewMoreImagesButton.innerHTML = 'View Less'
		}else{
			for(let i = 16; i < imageGalleryContainer.children.length; i++) {
				imageGalleryContainer.children[i].classList.remove('block');
				imageGalleryContainer.children[i].classList.add('hidden');
				imageGallerySwiperWrapper.children[i].classList.remove('block');
				imageGallerySwiperWrapper.children[i].classList.add('hidden');
			}
			viewMoreImagesButton.innerHTML = 'View More'
		}

	}

</script>
{% end_require_js %}
