p {
  line-height: 1.555;
  margin: 0;
}

small {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 56px;
  line-height: 1.142;
  letter-spacing: -0.28px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
}

h2,
.h2 {
  font-size: 48px;
  line-height: 1.2;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
}

h3,
.h3 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
}

h4,
.h4 {
  font-size: 32px;
  line-height: 1.25;
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
}

h5,
.h5 {
  font-size: 24px;
  line-height: 1.333;
  letter-spacing: 0.12px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
}

h6,
.h6 {
  font-size: 20px;
  line-height: 1.4;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
}

.heading-custom {
  font-size: 52px;
  line-height: 1.27;
  letter-spacing: -0.26px;
  font-family: var(--font-family);
}

blockquote {
  border-left-color: #f8fafc;
}

.subtitle-1 {
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-family: var(--font-family-cd);
  font-weight: var(--font-weight-medium);
}

.subtitle-2 {
  font-size: 14px;
  line-height: 1.285;
  text-transform: uppercase;
  letter-spacing: 0.56px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
}

.subtitle-3 {
  font-size: 24px;
  line-height: 1.2;
  font-family: var(--font-family);
  font-weight: 600;
  text-transform: uppercase;
}

.paragraph-1 {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.18px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
}

.paragraph-2 {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
}

.paragraph-small {
  font-size: 14px;
  line-height: 1.285;
font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
}

.link-with-arrow {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}

@media (max-width: 767px) {
  .h1-mobile {
    font-size: 53px;
    line-height: 1.2;
  }
}

.text-black {
  color: var(--color-black);
}

.text-grey {
  color: var(--color-grey);
}

.text-light-grey {
  color: var(--color-light-grey);
}

.text-bluish-grey {
  color: var(--color-bluish-grey);
}

.text-dark-purple{
  color: var(--color-dark-purple);
}

.text-left {
  text-align: left;
}

.text-opacity-60 {
  opacity: 0.6;
}

.text-opacity-70 {
  opacity: 0.7;
}

/* Font weights */

.text-light {
  font-weight: var(--font-weight-light);
}

.text-regular {
  font-weight: var(--font-weight-regular);
}

.text-medium {
  font-weight: var(--font-weight-medium);
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-underline {
  text-decoration: underline;
}

.no-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
