/* For content that needs to be visually hidden but stay visible for screenreaders */

:root {
  --spacing: 10px;

  --container-max-width: 1520px;
  --container-alt-max-width: 1260px;
  --container-mini-max-width: 1000px;

  --content-px: calc(var(--spacing) * 4);

  --columns: 12;
  --column-gutter-lg: calc(var(--spacing) * 3);
  --column-gutter-md: calc(var(--spacing) * 3);
  --column-gutter-sm: calc(var(--spacing) * 3);

  --color-white: #fff;
  --color-dark-purple: #0f161c;
  --color-black: #000;


  --color-text: var(--color-black);
  --body-bg-color: var(--color-white); 

  --footer-bg-color: var(--color-dark-purple);
  --footer-text-color: var(--color-white);

  /* Fonts */
  --font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-weight-light: 300;
  --font-weight-regular: normal;
  --font-weight-medium: 500;
  --font-weight-bold: bold;
}
