<div class="relative block m-[0_auto] pt-5 pb-6 px-4
{{ 'bg-pink/[.08]' if module.variant == 'false' }}
">
  {% if module.variant == 'true' %}
  <img src='{{ get_asset_url("../../images/icons/large-dots.svg") }}'
    class="absolute right-0 top-[-75px] block max-w-[170px]" loading="lazy">
  <img src='{{ get_asset_url("../../images/icons/small-dots.svg") }}'
    class="absolute left-[-65px] bottom-[-85px] block" loading="lazy">
  {% endif %}
  {% if module.variant == 'false' %}
  <img src='{{ get_asset_url("../../images/icons/large-dots.svg") }}'
    class="absolute right-0 top-[-75px] block max-w-[170px]" loading="lazy">
  <img src='{{ get_asset_url("../../images/icons/small-dots.svg") }}'
    class="absolute left-[-65px] bottom-[-85px] block" loading="lazy">
  {% endif %}
  <h3 class="mb-5">{{ module.title }}</h3>
  <div class="swiper-gallery-{{name}} swiper max-w-[1000px]">
    <div class="flex items-center swiper-wrapper">
      {% for item in module.image_group %}
        {% if item.link_image == true %}
          <a href="{{item.image_link.url.href}}" class="swiper-slide max-w-[200px] sm:max-w-15">
            <img class="w-full h-full object-center object-cover max-w-[200px] sm:max-w-15" src="{{ item.image_field.src }}" width="200px" loading="lazy"
              alt="{{ item.image_field.alt }}">
          </a>
          {% else %}
          <div class="swiper-slide max-w-[200px] sm:max-w-15">
            <img class="w-full h-full object-center object-cover max-w-[200px] sm:max-w-15" src="{{ item.image_field.src }}" width="200px" loading="lazy"
              alt="{{ item.image_field.alt }}">
          </div>
        {% endif %}
     
      {% endfor %}
    </div>
  </div>
  {# <div class="swiper-gallery-pagination-container swiper-pagination-{{ name }} flex justify-center relative mt-4 bottom-0 w-full h-[20px]"></div> #}

  {% if module.show_button == true %}
  <div class="flex justify-center w-full">
    <a href="{{ module.button.link_field.url.href }}"
      class="button w-fit mt-5 uppercase">{{module.button.link_label}}</a>
  </div>
  {% endif %}
</div>

{% require_js %}
<script>

  if (!checkHeadForSwiper()) {
    let script = document.createElement('script');
    script.src = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js';
    script.defer = true;
    document.head.appendChild(script);

    let link = document.createElement('link');
    link.rel = 'stylesheet';
    link.href = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css';
    document.head.appendChild(link);
  }
  
  window.addEventListener('load', () => {
    const swiper = new Swiper(".swiper-gallery-" + '{{name}}', {
      slidesPerView: "auto",
      spaceBetween: 60,
      {# pagination: {
        el: ".swiper-pagination-{{name}}",
        clickable: true,
      }, #}
      freeMode: {
        enabled: true,
        sticky: true,
      },
      mousewheel: {
        forceToAxis: true,
      },
      autoplay: {
        delay: 2500,
        disableOnInteraction: true,
      },
    });
  })

</script>
{% end_require_js %}