<div class="relative block m-[0_auto] pt-5 pb-6 px-4
{{ 'bg-pink/[.08]' if module.variant == 'false' }}
">
  {% if module.variant == 'true' %}
  <img src='{{ get_asset_url("../../images/icons/large-dots.svg") }}'
    class="absolute right-0 top-[-75px] block max-w-[170px]" loading="lazy">
  <img src='{{ get_asset_url("../../images/icons/small-dots.svg") }}'
    class="absolute left-[-65px] bottom-[-85px] block" loading="lazy">
  {% endif %}
  {% if module.variant == 'false' %}
  <img src='{{ get_asset_url("../../images/icons/large-dots.svg") }}'
    class="absolute right-0 top-[-75px] block max-w-[170px]" loading="lazy">
  <img src='{{ get_asset_url("../../images/icons/small-dots.svg") }}'
    class="absolute left-[-65px] bottom-[-85px] block" loading="lazy">
  {% endif %}
  <p class="mb-5 text-2xl leading-tight lg:text-7xl lg:leading-1">{{ module.title }}</p>
  <div class="sponsorship-images swiper max-w-[1000px]" data-sponsorship-module-name="{{ name }}">
    <div class="flex items-center swiper-wrapper">
      {% for item in module.image_group %}
      <a href="{{item.image_link.url.href}}" class="swiper-slide max-w-[200px] sm:max-w-15">
        <img class="max-w-[200px] sm:max-w-15" src="{{ item.image_field.src }}" width="200px" loading="lazy"
          alt="{{ item.image_field.alt }}">
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="sponsorship-images-pagination-container swiper-pagination relative mt-4 bottom-0"></div>

  {% if module.show_button == true %}
  <div class="flex justify-center w-full">
    <a href="{{ module.button.link_field.url.href }}"
      class="button w-fit mt-5 uppercase">{{module.button.link_label}}</a>
  </div>
  {% endif %}
</div>

{% require_js %}
<script>

  if (!checkHeadForSwiper()) {
    let script = document.createElement('script');
    script.src = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js';
    script.defer = true;
    document.head.appendChild(script);

    let link = document.createElement('link');
    link.rel = 'stylesheet';
    link.href = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css';
    document.head.appendChild(link);
  }
  
  let sponsorshipMainContainer = document.getElementsByClassName("sponsorship-images");
  let sponsorshipSwipers = [];
  
  window.addEventListener('load', () => {
    for (let i = 0; i < sponsorshipMainContainer.length; i++) {
      let currentModuleId = sponsorshipMainContainer[i].dataset.sponsorshipModuleName;
      sponsorshipMainContainer[i].className += " sponsorship-images_" + currentModuleId;

      sponsorshipSwipers[i] = new Swiper(".sponsorship-images_" + currentModuleId, {
        slidesPerView: "auto",
        spaceBetween: 60,
        freeMode: {
          enabled: true,
          sticky: true,
        },
        mousewheel: {
          forceToAxis: true,
        },
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
      });
    }
  })

</script>
{% end_require_js %}