.hero-overlay {
  position: relative;
}

.hero-overlay > *,
.hero-2 > * {
  position: relative;
  z-index: 1;
}

.hero-2 .row-fluid {
  width: calc(70% + 40px);
}

@media(max-width: 1024px) {
  .hero-2 .row-fluid {
    width: 80%;
  }
}

@media(max-width: 768px) {
  .hero-2 .row-fluid {
    width: 100%;
  }
}

.hero-overlay::after {
  content: "";
  width: 100%;
  height: 238px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(15, 22, 28, 0), rgb(15, 22, 28));
}

.hero-overlay::before {
  content: "";
  width: 100%;
  height: 238px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(15, 22, 28, 1) 35%, rgba(15, 22, 28, 0));
}

