.splash-form-section form{
	padding: 0 130px;
}

@media(max-width: 1536px) {
	.splash-form-section form{
		padding: 0 90px;
	}
}

@media(max-width: 1280px) {
	.splash-form-section form{
		padding: 0 0;
	}
}