.swiper-pagination-bullet {
  width: 50px !important; 
  height: 4px !important;
  margin-right: 20px !important;
  background-color: #c0c0c0 !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #B8D0FC !important;
}

.featured-services .swiper-button-next,
.featured-services .swiper-button-prev {
  color: #fff !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #B8D0FC !important;
}

.swiper-button-disabled {
  color: #c0c0c0 !important;
}