<!--
  templateType: page
  isAvailableForNewContent: true
  label: About Us
  screenshotPath: ../images/template-previews/about-us.jpg
 -->
 
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
	{% dnd_area 'dnd_area'
	  label='Main section',
	  class='body-container body-container--home'
	%}

	  {% include_dnd_partial
	    path='../sections/header-1.html',
	    context={
				'custom_section_classes': 'px-4 pt-[140px] pb-6 text-center',
	      'title': '<h1>About Us</h1>',
				'subtitle': '<p class="font-light text-lg md:text-3xl">Cilj nam je da idemo u korak sa savremenim trendovima, jer je to uslov za dalji razvoj i napredak.</p>'
	    }
	  %}

		 {% include_dnd_partial
	    path='../sections/image-with-text.html',
			context={
				'title': 'Stručan tim je naš najveći potencijal',
				'description': 'AT SISTEM je firma koju čini stručan tim zaposlenih sa mnogo godina iskustva u projektovanju i izgradnji, bazena, fontana, spa i wellness centara. Mnogo lepih i interesantnih projekata je iza nas, ali naš žar ne jenjava! Maksimalno se posvećujemo svakom novom poslu, uvek motivisani da pružimo najviše što možemo.'
			}
	  %}

	  {% include_dnd_partial
	    path='../sections/team.html',
	  %}

		{% include_dnd_partial
	    path='../sections/cover-promo.html',
	  %}	  

	{% end_dnd_area %}
{% endblock body %}
