<!--
  templateType: page
  isAvailableForNewContent: true
  label: Covers
  screenshotPath: ../images/template-previews/pool-equipment2.jpg
 -->

{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd_area'
    label='Main section',
    class='body-container body-container--home'
  %}

    {% include_dnd_partial
      path='../sections/header-1.html',
      context={
        'title': '<h1>Pokrivači za bazen</h1>',
        'subtitle': '<p class="subheading">Bazenski pokrivači i kupole sprečavaju prljanje bazena i isparavanje vode, čuvaju temperaturu vode i predstavljaju zaštitu od upada dece i kućnih ljubimaca.</p>'
      }
    %}

  {% end_dnd_area %}
{% endblock body %}
