<!--
  templateType: page
  isAvailableForNewContent: true
  label: Covers
  screenshotPath: ../images/template-previews/covers.jpg
 -->

{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd_area'
    label='Main section',
    class='body-container body-container--home'
  %}

    {% include_dnd_partial
      path='../sections/hero-2.html',
      context={
        html: '
          <h1 class="hero-title">Pokrivači za bazen</h1>
          <p class="hero-subtitle">Bazenski pokrivači i kupole sprečavaju prljanje bazena i isparavanje vode, čuvaju temperaturu vode i predstavljaju zaštitu od upada dece i kućnih ljubimaca.</p>
        '
      }
    %}

    {% include_dnd_partial
      path='../sections/header-1.html',
      context={
        'custom_section_classes': 'p-4',
        'title': '<h2>Bazenski pokrivači kao ekonomično i bezbedno rešenje</h2>',
        'subtitle': '
        <p class="font-normal lg:text-base">
          Korišćenjem bazenskih pokrivača smanjuje se isparavanje vode, gubitak energije, upotreba hemijskih sredstava, a skraćuje se i vreme potrebno za čišćenje bazena.
          Da li vam se ovo čini kao dovoljan razlog da razmislite o nabavci prekrivača za bazen? 
          <br>
          <br>
          A&T SISTEM ima u ponudi sve tipove pokrivača, koji se naručuju po meri bazena i proizvode u Francuskoj. 
          <br>
          Proizvođač je <a class="font-bold underline" href="https://shop.atsistem.rs/sr/collections/all?sort_by=title-ascending&filter.p.vendor=BWT+POOL+PRODUCTS">BWT POOL PRODUCTS</a> čije dugogodišnje iskustvo u proizvodnji pokrivača, uz pomoć najmodernijih alata, vrhunske tehnologije  i strogo praćenog i kontrolisanog proizvodnog procesa, garantuje jedinstven kvalitet.
          </p>'
      }
    %}

    {% include_dnd_partial
      path='../sections/scroll-navigation.html',
      context={
        'background_color': 'bg-lightGrey',
        'navigation': [
          {
            "link_label" : "Automatski",
            "url_field" : {
              "content_id" : null,
              "href" : "#automatski-pokrivaci-za-bazene",
              "type" : "EXTERNAL"
            }
          },
          {
            "link_label" : "Univerzalni",
            "url_field" : {
              "content_id" : null,
              "href" : "#univerzalni-bazenski-pokrivaci",
              "type" : "EXTERNAL"
            }
          },
          {
            "link_label" : "Letnji",
            "url_field" : {
              "content_id" : null,
              "href" : "#letnji-pokrivaci",
              "type" : "EXTERNAL"
            }
          },
          {
            "link_label" : "Zimski",
            "url_field" : {
              "content_id" : null,
              "href" : "#zimski-pokrivaci",
              "type" : "EXTERNAL"
            }
          },
          {
            "link_label" : "Kupole",
            "url_field" : {
              "content_id" : null,
              "href" : "#bazenske-kupole",
              "type" : "EXTERNAL"
            }
          },
          {
            "link_label" : "Pool Walker",
            "url_field" : {
              "content_id" : null,
              "href" : "#pool-walker",
              "type" : "EXTERNAL"
            }
          }
        ]
      }
    %}

    {% dnd_section 
      padding={
        'top': '40px',
        'bottom': '0',
        'left': '40px',
        'right': '40px'
      },
      background_color='#F7F7FD'
    %}
      {% dnd_column width=12, offset=0 %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            html='
              <h3 class="automatski-pokrivaci-za-bazene">Automatski pokrivači za bazene</h3>
              <p class="lg:w-3/5 xl:w-1/2">
                Proizvođač: BWT POOL PRODUCTS, Francuska
                <br>
                Automatske nadgradni ili potopljeni rolo pokrivači  predstavljaju savršen spoj elegancije, pouzdanosti i jednostavnog rukovanja. Jednim okretom ključa, lamele bešumno klize po površini vode i vaš bazen je, po želji, prekriven ili otkriven. 
              </p>
            '
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row 
          margin={
            'top':'40px'
          }
        %}
          {% dnd_module
            path='@hubspot/rich_text',
            html='<h4 class="mb-0">Automatski nadgradni pokrivači</h4>',
            horizontal_alignment='CENTER'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'custom_classes': 'px-4 pb-3 pt-2',
        'background_color': '#F7F7FD',
        'title': 'BWT Pearl Protect',
        'description': '
          BWT PEARL PROTECT je automatski nadgradni prekrivač koji vašem bazenu može dati unikatan izgled, jer pored boje lamela možete birati i boju postolja, kao i opciju da ono bude led osvetljeno.
          <br>
          Maksimalne dimenzije bazena koju pokriva su: 10 x 5 m
          <br>
          <br>
          <strong>U skladu su sa francuskim standardom za bezbednost NF P 90-308.</strong>
          <br><small>©photo creadit : BWT POOL PRODUCTS</small>
          ',
        'h_tag_choice': 'p',
        'link_label': 'Preuzmite brošuru',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://atsistem.rs/hubfs/Brosure%20-%20Pokrivaci/BWT%20Pearl%20Protect.pdf",
            "content_id": null
          },
          "open_in_new_tab": true,
          "no_follow": false
        },
        'image_field': {
          "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pokrivaci/BWT%20Pearl%20Protect.jpg",
          "alt": "BWT Pearl Protect pokrivac",
          "size_type": "auto",
          "width": 760,
          "height": 300,
          "loading": "eager",
          "max_width": 725,
          "max_height": 500
        }
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'background_color': '#F7F7FD',
        'title': 'BWT Aquadeck EC',
        'description': '
        AQUADECK EC je elegantno dizajniran automatski pokrivač koji pokriva bazene maksimalnih dimenzija 6 x 14 m. Dolazi sa elektrokomandnom jedinicom koja se instalira u tehničku prostoriju.
        <br>
        <br>
        <strong>U skladu su sa francuskim standardom za bezbednost NF P 90-308.</strong>
        <br><small>©photo creadit : BWT POOL PRODUCTS</small>
        ',
        'h_tag_choice': 'p',
        'link_label': 'Preuzmite brošuru',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://atsistem.rs/hubfs/Brosure%20-%20Pokrivaci/Aquadeck.pdf",
            "content_id": null
          },
          "open_in_new_tab": true,
          "no_follow": false
        },
        'image_field': {
          "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pokrivaci/BWT%20Aquadeck.jpg",
          "alt": "BWT Aquadeck pokrivac",
          "size_type": "auto",
          "width": 760,
          "height": 300,
          "loading": "eager",
          "max_width": 725,
          "max_height": 500
        },
        'reverse_content_direction': true
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'background_color': '#F7F7FD',
        'title': 'BWT Aquamatic',
        'description': '
        BWT AQUAMATIC je elegantan i veoma pouzdan automatski pokrivač koji ima malo postolje (160x120 mm), što mu omogućava da se diskretno uklopi u svaki ambijent. Ako želite kvalitetan automatski pokrivač po primamljivoj ceni, ovo je dobar izbor. 
        <br>
        Pokriva bazene dimenzija do 12 x 5 m
        <br>
        <br>
        <strong>U skladu su sa francuskim standardom za bezbednost NF P 90-308.</strong>
        <br><small>©photo creadit : BWT POOL PRODUCTS</small>
        ',
        'h_tag_choice': 'p',
        'link_label': 'Preuzmite brošuru',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://atsistem.rs/hubfs/Brosure%20-%20Pokrivaci/Aquamatic.pdf",
            "content_id": null
          },
          "open_in_new_tab": true,
          "no_follow": false
        },
        'image_field': {
          "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pokrivaci/BWT%20Aquamatic.jpg",
          "alt": "BWT Aquamatic pokrivac",
          "size_type": "auto",
          "width": 760,
          "height": 300,
          "loading": "eager",
          "max_width": 725,
          "max_height": 500
        },
      }
    %}

    {% dnd_section 
      padding={
        'default': {
          'top': '50px',
          'bottom': '0',
          'left': '40px',
          'right': '40px'
        },
        'mobile': {
          'top': '40px',
          'bottom': '0',
          'left': '40px',
          'right': '40px'
        }
      },
      background_color='#F7F7FD'
    %}
      {% dnd_column width=12, offset=0 %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            html='<h4 class="-mb-0.5">Automatski potopljeni pokrivači</h4>',
            horizontal_alignment='CENTER'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial
      path='../sections/image-cards.html',
      context={
        'custom_classes': 'pb-1',
        'show_decorators': false,
        'h_tag_choice': 'p',
        'cards': [
          {
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pokrivaci/Stardeck.jpeg",
            "alt": "BWT Stardeck pokrivac",
            "loading": "eager",
            "width": 760,
            "height": 300,
            "max_width": 700,
            "max_height": 420
            },
            "title": "BWT Stardeck",
            "description": '
              BWT STARDECK je linija automatskih bazenskih pokrivača, posebno projektovana za bazene u izgradnji. Izborom jednog od tri modela  (STARDECK CLASSIC, STARDECK HIGH LEVEL, STARDECK INEO) dobijate vrhunski dizajniran, pouzdan automatski pokrivač koji  elegantno prati linije vašeg bazena.
              <br>
              Za izbor željenog modela i odgovarajuće konfigurcije konsultujte se sa našim profesionalnim timom koji je specijalizovan za BWT pokrivače, i koji će vam pružiti sve potrebne informacije i savete, uz prezentaciju uzoraka za što bolji uvid u estetski izgled pokrivača.
              <br>
              U zavisnosti od izabranog modela STARDECK može da pokrije bazene i do 23 m dužine.
              <br>
              <br>
              <strong>U skladu su sa francuskim standardom za bezbednost NF P 90-308.</strong>
              <br><small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>
            ',
            "link_field": {
            "url": {
              "content_id": null,
              "type": "EXTERNAL",
              "href": "https://atsistem.rs/hubfs/Brosure%20-%20Pokrivaci/Stardeck.pdf"
            },
            "open_in_new_tab": true,
            "no_follow": false
            },
            "link_label": "Preuzmite brošuru",
            "premium_product": true
          },
          {
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pokrivaci/BWT%20Coverdeck.jpg",
            "alt": "BWT Coverdeck pokrivac",
            "loading": "eager",
            "width": 760,
            "height": 300,
            "max_width": 700,
            "max_height": 300
            },
            "title": "BWT Coverdeck",
            "description": '
              BWT COVERDECK i COVERDECK HIGH LEVEL su modeli elegantnog i pouzdanog automatskog potopljenog pokrivača koji može da se ugradi u već postojeće bazene, maksimalne dužine do 14 m.
              <br>
              Ovaj pokrivač ne zahteva suvi šaht za motor i instalira se bez oštećenja hidroizolacije bazena. Motor je zaštićen, iznad nivoa vode i lako je dostupan za demontažu.
              <br>
              Za više informacija konsultujte se sa našim profesionalnim timom koji je specijalizovan za BWT proizvode, i koji će vam pružiti sve potrebne informacije i savete, uz prezentaciju uzoraka za što bolji uvid u estetski izgled.
              <br>
              <br>
              <strong>U skladu su sa francuskim standardom za bezbednost NF P 90-308.</strong>
              <br><small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>
            ',
            "link_field": {
            "url": {
              "content_id": null,
              "type": "EXTERNAL",
              "href": "https://atsistem.rs/hubfs/Brosure%20-%20Pokrivaci/Coverdeck.pdf"
            },
            "open_in_new_tab": true,
            "no_follow": false
            },
            "link_label": "Preuzmite brošuru",
            "premium_product": false
          }
        ]
      }
    %}

     {% dnd_section 
      padding={
        'top': '40px',
        'bottom': '0',
        'left': '40px',
        'right': '40px'
      }
    %}
      {% dnd_column width=12, offset=0 %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            html='
              <h3 class="univerzalni-bazenski-pokrivaci">Univerzalni bazenski pokrivači</h3>
              <p class="xl:w-1/2">
                Univerzalni prekrivači iz naše ponude izrađeni su od segmenata jake poliesterske membrane (650 g/m2) i šipki od eloksiranog aluminijuma.
                <br>
                Obe strane pokrivača su lakirane, tako da se lako čiste mlazom vode i imaju pojačanu otpornost.
                <br>
                Nazivamo ih univerzalnim pokrivačima jer se koriste i u letnjem i u zimskom periodu, tako da je nabavka ovakvog proizvoda dobra investicija, s obzirom da se eliminše potreba za sezonskom, letnjom i zimskom pokrivkom.
                <br>
                Jednostavno se koriste uz pomoć ručne ili automatske motalice koja ima motor na baterije i punjač.
              </p>
            '
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Calypso',
        'description': '
          CALYPSO je univerzalni bazenski prekrivač izrađen od segmenata jake poliesterske membrane (650 g/m2) i šipki od eloksiranog aluminijuma u boji pokrivača.
          <br>
          Obe strane su lakirane, tako da se lako čiste mlazom vode i imaju pojačanu otpornost na habanje i cepanje.
          <br>
          CALYPSO ima plastificirano čelično uže postavljeno sa obe duže strane, koje ga dodatno učvršćuju, tako da je otporniji na vetar i teže ga je pomeriti.
          <br>
          <br>
          <strong>U skladu su sa francuskim standardom za bezbednost NF P 90-308.</strong>
          <br><small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>
          ',
        'h_tag_choice': 'p',
        'link_label': 'Preuzmite brošuru',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://atsistem.rs/hubfs/Brosure%20-%20Pokrivaci/Calypso.pdf",
            "content_id": null
          },
          "open_in_new_tab": true,
          "no_follow": false
        },
        'image_field': {
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pokrivaci/BWT%20Calypso.jpg",
            "alt": "BWT Calypso pokrivac",
            "size_type": "auto",
            "width": 725,
            "height": 300,
            "loading": "eager",
            "max_width": 725,
            "max_height": 300
          },
        'premium_product': true
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Mambo',
        'description': '
          MAMBO je univerzalni pokrivač za bazene izrađen od segmenata jake poliesterske membrane (650 g/m2) i šipki od eloksiranog aluminijuma u boji pokrivača.
          <br>
          Obe strane su lakirane, tako da se lako čiste mlazom vode i imaju pojačanu otpornost na habanje i cepanje.
          <br>
          MAMBO može da se dodatno pričvrsti trakama po dužini, ukoliko se bazen nalazi na mestu koje je izloženo vetru.
          <br>
          <br>
          <strong>U skladu su sa francuskim standardom za bezbednost NF P 90-308.</strong>
          <br><small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>
          ',
        'h_tag_choice': 'p',
        'link_label': 'Preuzmite brošuru',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://atsistem.rs/hubfs/Brosure%20-%20Pokrivaci/Mambo.pdf",
            "content_id": null
          },
          "open_in_new_tab": true,
          "no_follow": false
        },
        'image_field': {
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pokrivaci/BWT%20Mambo.jpg",
            "alt": "BWT Mambo pokrivac",
            "size_type": "auto",
            "width": 725,
            "height": 300,
            "loading": "eager",
            "max_width": 725,
            "max_height": 300
          },
        'reverse_content_direction': true
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'CBE-650',
        'description': '
          CBE-650 je univerzalan pokrivač izrađen od segmenata jake poliesterske membrane (650 g/m2) i šipki od eloksiranog aluminijuma.
          <br>
          Obe strane pokrivača su lakirane, tako da se lako čiste mlazom vode i imaju pojačanu otpornost na habanje i cepanje.
          <br>
          CBE-650 je kvalitetan univerzalni pokrivač koji ima najekonomičniju cenu.
          <br>
          <br>
          <strong>U skladu su sa francuskim standardom za bezbednost NF P 90-308.</strong>
          <br><small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>
          ',
        'link_label': 'Preuzmite brošuru',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://atsistem.rs/hubfs/Brosure%20-%20Pokrivaci/CBE-650.pdf",
            "content_id": null
          },
          "open_in_new_tab": true,
          "no_follow": false
        },
        'image_field': {
          "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pokrivaci/BWT%20CBE-650.jpg",
          "alt": "BWT CBE-650 pokrivac",
          "size_type": "auto",
          "width": 725,
          "height": 300,
          "loading": "eager",
          "max_width": 725,
          "max_height": 300
        },
      }
    %}

    {% dnd_section 
      padding={
        'top': '40px',
        'bottom': '0',
        'left': '40px',
        'right': '40px'
      },
      background_color='#F7F7FD'
    %}
      {% dnd_column width=12, offset=0 %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            html='
              <h3 class="letnji-pokrivaci">Letnji pokrivači</h3>
              <p class="lg:w-3/5 xl:w-1/2">
                Izrađeni od UV stabilizovanog polietilena, sa mehurovima koji predstavljaju odličnu izolaciju i dobro prianjaju na površinu vode.
                <br>
                Mogu biti opšiveni i ojačani sa svih strana, ili samo sečeni na željenu dimenziju.
                <br>
                Najlakše se manipuliše njima tako što su namotani na mobilnu ručnu motalicu koja stoji pored bazena i po potrebi se uklanja.
              </p>
            '
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'custom_classes': 'px-4 pt-3 pb-4',
        'title': 'Super 500',
        'description': '
          • GeoBubble tehnologija
          <br>
          • sa mrežicom za skupljanje lišća
          <br>
          • UV rezistentan
          <br>
          • zatezne trake
          <br>
          • OMEGA motalica
          <br>
          <br><small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>
        ',
        'h_tag_choice': 'p',
        'link_label': 'Preuzmite brošuru',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://atsistem.rs/hubfs/Brosure%20-%20Pokrivaci/Super%20500.pdf",
            "content_id": null
          },
          "open_in_new_tab": true,
          "no_follow": false
        },
        'image_field': {
          "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pokrivaci/BWT%20Super%20500.jpg",
          "alt": "BWT Super 500 pokrivac",
          "size_type": "auto",
          "width": 725,
          "height": 300,
          "loading": "eager",
          "max_width": 725,
          "max_height": 300
        },
        'background_color': '#F7F7FD'
      }
    %}

    {% dnd_section 
      padding={
        'top': '40px',
        'bottom': '0',
        'left': '40px',
        'right': '40px'
      }
    %}
      {% dnd_column width=12, offset=0 %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            html='
              <h3 class="zimski-pokrivaci">Zimski pokrivači</h3>
              <p class="lg:w-3/5 xl:w-1/2">
                Naši zimski prekrivači pravljeni su od ojačanog tkanog poliestera impregniranog PVC-om.
                <br>
                Oni se fiksiraju u plažu oko bazena i štite bazen u zimskom periodu. Imaju mikro perforaciju po celoj površini ili delimično, kako bi se vršila drenaža atmosferskih padavina.
              </p>
            '
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'custom_classes': 'px-4 pt-3 pb-4',
        'title': 'Epervier',
        'description': '
          EPERVIER je kvalitetni pokrivač od impregniranog ojačanog poliestera, opšiven sa svih strana.
          <br>
          Ima drenažne mikro pererforacije kako se ne bi sakupljala voda.
          <br>
          Boje: plava i siva  /poleđina je uvek bež boje/
          <br>
          <br>
          <strong>U skladu sa standardom  NF P 90-308.</strong>
          <br><small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>
        ',
        'h_tag_choice': 'p',
        'link_label': 'Preuzmite brošuru',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://atsistem.rs/hubfs/Brosure%20-%20Pokrivaci/Epervier.pdf",
            "content_id": null
          },
          "open_in_new_tab": true,
          "no_follow": false
        },
        'image_field': {
          "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pokrivaci/BWT%20Epervier.jpg",
          "alt": "BWT Epervier pokrivac",
          "size_type": "auto",
          "width": 725,
          "height": 300,
          "loading": "eager",
          "max_width": 725,
          "max_height": 300
        },
        'premium_product': true
      }
    %}


    {% include_dnd_partial
      path='../sections/banner-small-w-image.html',
      context={
        'title': 'Automatski, univerzalni i zimski BWT pokrivači u skladu su sa francuskim standardom za bezbednost NF P 90-308.'
      }
    %}

    {% dnd_section 
      padding={
        'top': '40px',
        'bottom': '40px',
        'left': '40px',
        'right': '40px'
      }
    %}
      {% dnd_column width=12, offset=0 %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            html='
              <h2 class="h3 bazenske-kupole">Bazenske kupole</h2>
              <p>
                Za najefiksniju zaštitu bazena i produženu sezonu kupanja kod nas možete naručiti i jedan od brojnih modela pomične bazenske kupole koje uvozimo od renomiranog evropskog proizvođača AQUACOMET.
                <br>
                Kupole za bazene iz naše ponude izrađene su od punog polikarbonata koji ima UV zaštitu i sa spoljašnje i sa unutrašnje strane i aluminijumskih profila. U zavisnosti od modela sklopivi segmenti zaštitnih kupola se kreću po šinama ili bez njih.
                <br>
                Razlikujemo niskoprofilne kupole koje se savršeno uklapaju u okolinu, ili veće kupole koje i u hladnijim danima omogućavaju prijatno kupanje kao i odmor na suncu, koje je ispod transparentne ili providne kupole prijatno toplo i u hladnijim kasnojesenjim ili ranim prolećnim danima.
                <br>
                Pomična kupola je takođe i najsigurnija zaštita protiv nesrećnih slučajeva, pošto zatvorena kupola u potpunosti sprečava malu decu i kućne ljubimce da priđu bazenu.
              </p>
            '
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row 
          margin={
            'top':'40px'
          }
        %}
          {% dnd_module
            path='@hubspot/rich_text',
            html='<h3 class="h4 mb-2">Naši modeli kupola za bazen</h3>',
            horizontal_alignment='CENTER'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path='../modules/simple-cards',
            cards=[
              {
                "content": '
                  <ul class="list-disc list-outside ml-0.5 flex flex-col gap-0.5">
                    <li>RONDO – BEZ ŠINA, ZA SPA KADE</li>
                    <li>SKY</li>
                    <li>STAR</li>
                    <li>STAR PLUS</li>
                    <li>ZENIT STANDARD</li>
                    <li>ZENIT FLAT</li>
                  </ul>
                '
              },
              {
                "content": '
                  <ul class="list-disc list-outside ml-0.5 flex flex-col gap-0.5">
                    <li>VISUAL</li>
                    <li>VISUAL FLAT</li>
                    <li>HORIZON</li>
                    <li>HORIZON HIGH</li>
                    <li>HARMONIE</li>
                    <li>HAMRONIE PLUS</li>
                  </ul>
                '
              },
              {
                "content": '
                  <ul class="list-disc list-outside ml-0.5 flex flex-col gap-0.5">
                    <li>LOK</li>
                    <li>PROFESSIONAL</li>
                    <li>PRACTIC</li>
                    <li>CREATIVE</li>
                    <li>GALAXY</li>
                    <li>ORION</li>
                  </ul>
                '
              }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial
      path='../sections/image-cards.html',
      context={
        'backgroundColor': '#FFFFFF',
        'show_decorators': true,
        'h_tag_choice': 'p',
        'cards': [
          {
            "image_field": {
            "size_type": "auto",
            "src": "https://26015966.fs1.hubspotusercontent-eu1.net/hubfs/26015966/salt-room.png",
            "alt": "salt-room",
            "loading": "eager",
            "width": 700,
            "height": 420,
            "max_width": 700,
            "max_height": 420
            },
            "title": "Horizon",
            "description": '
              HORIZON je niskoprofilna kupola projektovana da zadovolji sve veću potražnju za savremenim dizajnom.
              <br>
              Ravni bočni profili omogućavaju elegantnu integraciju sa okruženjem.
              <br>
              <br>
              <small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>
            ',
            "link_field": {
            "url": {
              "content_id": null,
              "type": "EXTERNAL",
              "href": "https://google.com/"
            },
            "open_in_new_tab": true,
            "no_follow": false
            },
            "link_label": "Preuzmite brošuru",
            "premium_product": false
          },
          {
            "image_field": {
            "size_type": "auto",
            "src": "https://26015966.fs1.hubspotusercontent-eu1.net/hubfs/26015966/salt-room.png",
            "alt": "salt-room",
            "loading": "eager",
            "width": 700,
            "height": 420,
            "max_width": 700,
            "max_height": 420
            },
            "title": "Harmonie",
            "description": '
              HARMONIE je bazenska kupola koja uprkos veličini, ima izgled prozračne, lagane konstrukcije, zahvaljujući velikim staklenim površinama.
              <br>
              Uz sav komfor koji pruža, odajući utisak zatvorenog bazenskog prostora, HARMONIE je ipak pokretna kupola, tako da u trenu otvara bazen i "nestaje" u prostoru.
              <br>
              <br>
              <small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>
            ',
            "link_field": {
            "url": {
              "content_id": null,
              "type": "EXTERNAL",
              "href": "https://google.com/"
            },
            "open_in_new_tab": false,
            "no_follow": false
            },
            "link_label": "Preuzmite brošuru",
            "premium_product": false
          }
        ]
      }
    %}

    {% include_dnd_partial
      path='../sections/image-w-text-gradient.html',
      context={
        'custom_classes': 'pool-walker px-4 py-3',
        'title': 'Pool Walker konstrukcija za pokrivanje bazena',
        'description': 'POOL WALKER konstrukcija za pokrivanje bazena ima dvostruku namenu: kada je zatvorena, štiti bazen od prljanja, a predstavlja i platformu po kojoj se može hodati, sedeti na garnituri ili se koristiti za druge namene.<br><br><small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>',
        'h_tag_choice': 'h3',
        'link_label': 'Preuzmite brošuru',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "",
            "content_id": null
          },
          "open_in_new_tab": false,
          "no_follow": false
        },
        'background_color': '#F7F7FD'
      }
    %}


  {% end_dnd_area %}
{% endblock body %}
