<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.jpg
 -->

{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
	{% dnd_area 'dnd_area'
	  label='Main section',
	  class='body-container body-container--home'
	%}

	  {% include_dnd_partial
	    path='../sections/hero-2.html',
	    context={
        'backgroundImage': 'https://atsistem.rs/hubfs/raw_assets/public/at-sistem-theme/images/at-sistem-hero-image.jpeg?name=at-sistem-hero-image.jpeg',
			  'html': '
          <h1 class="hero-title">A&T Sistem</h1>
          <p class="hero-subtitle">
            Vaš proveren partner za projektovanje i izgradnju bazena, fontana, spa i welness centara, prodaju i ugradnju opreme za bazene.
          </p>
          <a class="button-secondary flex mt-2" href="https://shop.atsistem.rs/sr/collections/all">Pogledajte ponudu</a>
        '
	    }
	  %}

    {% dnd_section 
      padding={
        'top': 40,
        'bottom': 0,
        'left': 40,
        'right': 40
      }
    %}
      {% dnd_column offset=0, width=12 %}
        {% dnd_row %}
          {% dnd_module 
            path="@hubspot/rich_text",
            html='
              <h2 class="mb-0">Usluge i oprema za bazene, wellnes i spa centre</h2>
            '
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'custom_classes': 'px-4 pt-3 pb-0',
        'title': 'Za dobar bazen važan je DOBAR IZBOR',
        'description': '
          	Izgradnja betonskih bazena je naša specijalnost. Naše dugogodišnje iskustvo, stalna edukacija, izbor pouzdanih brendova i praćenje novih tehnologija, garancija su kvalitetne usluge.
          ',
        'h_tag_choice': 'h3',
        'link_label': 'Poverite posao profesionalcima',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "/bazeni/usluge",
            "content_id": null
          },
          "open_in_new_tab": false,
          "no_follow": false
        },
        'image_field': {
          "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pocetna/ambiental_m5.jpeg?noresize",
          "alt": "Izgradnja bazena",
          "size_type": "auto",
          "width": 760,
          "height": 300,
          "loading": "lazy",
          "max_width": 725,
          "max_height": 500
        },
				'image_fit': 'cover',
				'reverse_content_direction': false
      }
    %}

	  {% include_dnd_partial 
      path='../sections/categories.html'  
    %}

	  {% include_dnd_partial
	    path='../sections/swiper-gallery.html',
			context={
				'title': '<h3 class="h2 mb-2 px-4">Naši partneri</h3>',
				'image_group': [
          {
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/BWT_Pool_Products_2024.jpg",
            "alt": "bwt pool products",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
          {
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/Bio-Uv%20group.jpg",
            "alt": "bio uv group",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
          {
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/SPECK.jpg",
            "alt": "speck pumpen",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/Aquacomet.jpg",
            "alt": "aquacomet",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/EP%20LOGO.jpeg",
            "alt": "endless pools",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/Poseidon%20header.jpg",
            "alt": "poseidon spa",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/mosavit.jpeg",
            "alt": "mosavit mosaico",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/ARKEMA%20DESIGN.jpeg",
            "alt": "arkema design",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/FILTRINOV.jpg",
            "alt": "filtrinov",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/KERAKOLL.jpg",
            "alt": "kerakoll",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/logo-grando-pool-covers.png",
            "alt": "grando pool covers",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/technopool%20logo.png",
            "alt": "technopool",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/WDT-Logo-.jpg",
            "alt": "wdt",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/ACQUA%20SOURCE1.jpeg",
            "alt": "acqua source",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/Chemoform.jpg",
            "alt": "Chemoform",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/logotype%20pahlen.jpeg",
            "alt": "pahlen",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          },
					{
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Partneri/Peraqua_Logo_.jpg",
            "alt": "peraqua",
            "loading": "lazy",
            "width": 200,
            "height": 77,
            "max_width": 200,
            "max_height": 77
            }
          }
        ]
			}
	  %}

		{% include_dnd_partial
      path='../sections/image-w-text-gradient.html',
      context={
        'title': 'BWT – Pouzdani partner A&T Sistema',
        'description': '
          	BWT POOL PRODUCTS je vodeći francuski i svetski proizvođač <a href="/bazeni/oprema" class="font-bold text-darkPurple">bazenske opreme</a> koji ima jak inženjerski kadar, moćan softverski sistem, najsavremenije pogone i laboratorije i posvećen tim zaposlenih. U našoj ponudi su BWT ugradni elementi od abs-a i inox-a, <a class="text-darkPurple font-bold" href="https://shop.atsistem.rs/sr/collections/bwt-pool-products">uređaji za tretman vode, bazenski pokrivači, toplotne pumpe, roboti za čišćenje bazena, komercijalne spa kade, oprema za filtraciju</a> i još mnogo toga.
            <br><small>©photo creadit : BWT POOL PRODUCTS</small>
          ',
        'h_tag_choice': 'h3',
        'link_label': 'Više o brendu',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://shop.atsistem.rs/sr/collections/bwt-pool-products",
            "content_id": null
          },
          "open_in_new_tab": false,
          "no_follow": false
        },
        'image_field': {
          "src": "https://atsistem.rs/hubfs/Sadrzaj%20Usluge/bwt_m11.jpg?noresize",
          "alt": "BWT Pool Products",
          "size_type": "auto",
          "width": 760,
          "height": 300,
          "loading": "lazy",
          "max_width": 725,
          "max_height": 500
        },
				'image_fit': 'cover'
      }
    %}

		{% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Pokrivači za bazene koji traju',
        'description': '
          	Vaše je da odlučite kakav tip bazenskog pokrivača želite: letnji ili zimski, univerzalni, automatski nadgradni ili automatski potopljeni, itd. Veliki izbor kvalitetnih bazenskih pokrivača BWT POOL PRODUCTS, koji se izrađuju po narudžbini u Francuskoj, dostupan je već godinama, na našem tržištu, zahvaljujući A&T SISTEM-u.
            <br><small>©photo creadit : BWT POOL PRODUCTS</small>
          ',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "/bazeni/pokrivaci-za-bazene",
            "content_id": null
          },
          "open_in_new_tab": false,
          "no_follow": false
        },
        'image_field': {
          "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pocetna/coverdeck_m.jpg?noresize",
          "alt": "Pokrivac za bazen",
          "size_type": "auto",
          "width": 760,
          "height": 300,
          "loading": "lazy",
          "max_width": 725,
          "max_height": 500
        },
				'image_fit': 'cover',
				'reverse_content_direction': true
      }
    %}

	  {% include_dnd_partial
	    path='../sections/featured-services.html',
			context={
        'h_tag_choice': 'h2',
				'title': 'Naše usluge',
				'description': 'Naš stručni tim obezbeđuje kompletnu tehničku podršku i servis u svakoj fazi izgradnje bazena i najkvalitetnije opreme za bazene, izgradnje fontana, ugradnji spa kada.'
			}
	  %}

		{% include_dnd_partial
			path='../sections/image-with-text.html',
      context={
        'image_field': {
          "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pocetna/spa-kada.jpg?noresize",
          "alt": "Spa kade",
          "size_type": "auto",
          "width": 725,
          "height": 500,
          "loading": "lazy",
          "max_width": 725,
          "max_height": 500
        },
        'image_fit': 'cover',
        'title': 'Spa kade – luksuzan francuski dizajn',
        'description': 'Naše spa kade su tako dizajnirane i opremljene da i najzahtevniji korisnici mogu da pronađu model za sebe. Mogu da prime od dve do sedam osoba, imaju izrazito kvalitetna tehnička rešenja i sve komponente su izrađene od najkvalitetnijih materijala.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "/spa-kade",
            "content_id": null
          },
          "open_in_new_tab": false,
          "no_follow": false
        },
        'reverse_content_direction': false
      }
		%}

    {% dnd_section 
      padding={
        'top': '40px',
        'bottom': '0',
        'left': '40px',
        'right': '40px'
      }
    %}
      {% dnd_column width=12, offset=0 %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            html='
              <h2 class="h3 bazenske-kupole">Oprema i održavanje bazena i wellness centara</h2>
              <p>
                2-3 rečenice teksta o opremi za bazene sa rečenicom koja pominje kompletnu ponudu opreme za bazene i ima upadljivi link ka šopu.
              </p>
            '
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial
      path='../sections/products-grid.html',
      context={
        'show_image': true,
        'cards':[
          {
            "collection": "Toplotne pumpe",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Pocetna/toplotne-pumpe.jpg?noresize",
            "alt": "Toplotne pumpe",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "Turbo Džetovi",
              "Slapovi",
              "Topovi",
              "Hidromasaže",
              "Aeromasaže",
              "Vodene Igre",
              "Tobogani"
            ],
            "link_group": {
            "link_label": "Pogledajte ponudu",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://shop.atsistem.rs/sr/collections/grejanje-i-odvlazivanje?sort_by=best-selling&filter.p.product_type=Toplotne+pumpe",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Toplotne pumpe vazduh-voda, sa naprednom inverter tehnologijom, produžiće sezonu kupanja i ostvarićete značajne uštede u potrošnji energije."
          },
          {
            "collection": "Bežični roboti",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Oprema/ciscenje.jpg?noresize",
            "alt": "Bežični roboti",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "Merdevine i Rukohvati",
              "Stepenište",
              "Ležaljke",
              "Stočići i Stolice",
              "Suncobrani",
              "Solarni Tuševi"
            ],
            "link_group": {
            "link_label": "Pogledajte ponudu",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://shop.atsistem.rs/sr/collections/oprema-za-odrzavanje-bazena?sort_by=best-selling&filter.p.product_type=Roboti",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Čišćenje bazena može postati igra, uz najnoviju generaciju BWT bežičnih robota, koji čiste sve vrste bazenskih obloga, pod, zidove, i vodenu liniju."
          },
          {
            "collection": "Automatski hemijski tretman",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Oprema/bwtmanagerconnectduoph-orp_c797683c-bc15-4ef8-8d6a-8273c5f20bfd.jpeg?noresize",
            "alt": "Automatski hemijski tretman",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "Tečni PH Korektor - Minus",
              "Tečni Dezinficijens - Hlor",
              "Hlor - Granulat",
              "PH Minus - Granulat",
              "Tablete - Multi",
              "Algicid",
              "Flokulant"
            ],
            "link_group": {
            "link_label": "Pogledajte ponudu",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://shop.atsistem.rs/sr/collections/tretman-bazenske-vode?sort_by=best-selling&filter.p.product_type=Automatski+hemijski+tretman",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Uređaji za automatski hemijski tretman omogućiće vam bezbrižno uživanje u kristalno čistoj vodi, jer su podešeni tako da automatski kontrolišu i mere parametre u bazenskoj vodi i doziraju hemijska sredstva po potrebi."
          },
          {
            "collection": "BioUV Lampe",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Oprema/stakleni%20mozaik.jpg",
            "alt": "BioUV Lampe",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "List Item 1"
            ],
            "link_group": {
            "link_label": "Pogledajte ponudu",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://shop.atsistem.rs/sr/collections/stakleni-mozaik/",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Završni pečat vašem bazenu daće stakleni mozaik koji se pod vodom i na suncu, presijava u bezbroj neuhvatljivih nijansi. Mat, sjajan, sedefast, luminescentan, izbor je veliki, a kvalitet vrhunski. Jer to je MOSAVIT® stakleni mozaik, dizajniran da odgovori svim zahtevima."
          }
        ]
      }
    %}

	  {% include_dnd_partial
	    path='../sections/image-gallery-slider.html',
			context={
				'title': '<h3 class="h2">Galerija<h3>',
				'images': [
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hs-fs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.16.1.jpeg",
						"alt": "bazen 16.1",
						"loading": "lazy",
						"width": 600,
						"height": 400,
						"max_width": 600,
						"max_height": 400
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hs-fs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.17.1.jpeg",
						"alt": "bazen 17.1",
						"loading": "lazy",
						"width": 600,
						"height": 400,
						"max_width": 600,
						"max_height": 400
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hs-fs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.14.1.jpeg",
						"alt": "bazen 14.1",
						"loading": "lazy",
						"width": 600,
						"height": 400,
						"max_width": 600,
						"max_height": 400
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hs-fs/hubfs/Galerija%20Pocetna%20Slider/Spa/wellness.jpg",
						"alt": "wellness",
						"loading": "lazy",
						"width": 600,
						"height": 400,
						"max_width": 600,
						"max_height": 400
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hs-fs/hubfs/Galerija%20Pocetna%20Slider/Spa/img.s8.jpg",
						"alt": "img.s8",
						"loading": "lazy",
						"width": 600,
						"height": 400,
						"max_width": 600,
						"max_height": 400
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hs-fs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.2.jpg",
						"alt": "img.2",
						"loading": "lazy",
						"width": 600,
						"height": 400,
						"max_width": 600,
						"max_height": 400
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hs-fs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.4.jpg",
						"alt": "img.4",
						"loading": "lazy",
						"width": 600,
						"height": 400,
						"max_width": 600,
						"max_height": 400
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hs-fs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.23.jpg",
						"alt": "img.23",
						"loading": "lazy",
						"width": 600,
						"height": 400,
						"max_width": 600,
						"max_height": 400
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hs-fs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.12.1.jpeg",
						"alt": "img.12.1",
						"loading": "lazy",
						"width": 600,
						"height": 400,
						"max_width": 600,
						"max_height": 400
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hs-fs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.25.jpg",
						"alt": "img.25",
						"loading": "lazy",
						"width": 600,
						"height": 400,
						"max_width": 600,
						"max_height": 400
						}
					}
				]
			}
	  %}

    {% include_dnd_partial
	    path='../sections/pages-navigation-cards.html',
	  %}

	{% end_dnd_area %}
{% endblock body %}
