<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pools
  screenshotPath: ../images/template-previews/pools.jpg
 -->
 
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
	{% dnd_area 'dnd_area'
	  label='Main section',
	  class='body-container body-container--home'
	%}

	  {% include_dnd_partial
	    path='../sections/header-1.html',
	    context={
	      'title': '<h1 class="font-normal mb-2 text-6xl">Bazeni</h1>',
				'subtitle': '<p class="font-light text-lg md:text-3xl mb-2">A&T SISTEM je firma kojoj sa punim poverenjem možete poveriti kompletne radove oko izgradnje komercijalnih i rezidencijalnih betonskih bazena, od izrade idejnog rešenja do puštanja bazenskog sistema u rad.</p>',
				'button_text': 'KONTAKTIRAJTE NAS'
	    }
	  %}

	  {% include_dnd_partial
	    path='../sections/services-expanded.html',
			context={
				'title': '<h2 class="text-2xl md:text-5xl lg:text-7xl mb-5">Naše <strong>Usluge</strong></h2>'
			}
	  %}

		{% include_dnd_partial
	    path='../sections/banner-small.html',
			context={
				'text_field': 'Niste pronašli ono što Vas zanima ili Vam treba još informacija?',
				'link_label': 'Zatražite Ponudu'
			}
	  %}

		{% include_dnd_partial
	    path='../sections/video-player.html',
			context={
				'title': 'BWT - Pouzdan Partner',
				'description': "A&T SISTEM je Vas pouzdan partner u projektovanju i izgradnji bazena dugi niz godina, a nasa saradnja sa BWI POOL PRODUCTS, renomiranim proizvodacem bazenske opreme garantuje vrhunski kvalitet uredaja, hidraulicki optimizovana resenja lum Iskusnin struchjaka na raspolaganju.",
				'button_label': 'Više o brendu',
				'h_tag_choice': 'h3'
			}
	  %}

		{% include_dnd_partial
	    path='../sections/image-with-text.html',
			context={
				'title': 'Pokrivač za bazen',
				'description': "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.",
				'link_label': 'Opširnije',
				'h_tag_choice': 'h3'
			}
	  %}

		{% include_dnd_partial
	    path='../sections/image-with-text.html',
			context={
				'title': 'Drveni Bazeni',
				'description': "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.",
				'link_label': 'Opširnije',
				'h_tag_choice': 'h3',
				'reverse_content_direction':true
			}
	  %}

		{% include_dnd_partial
	    path='../sections/image-gallery-slider.html',
			context={
				'title': '<h2 class="mb-5 text-2xl leading-tight lg:text-7xl lg:leading-1 font-bold">Galerija</h2>'
			}
	  %}

	{% end_dnd_area %}
{% endblock body %}
