<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pools Services
  screenshotPath: ../images/template-previews/pools-services.jpg
 -->
 
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
	{% dnd_area 'dnd_area'
	  label='Main section',
	  class='body-container body-container--home'
	%}

	  {% include_dnd_partial
	    path='../sections/header-2.html',
	    context={
			'custom_section_classes': 'px-4 pt-[140px] pb-6 text-center',
	      'title': '<h1>Projektovanje i izgradnja bazena</h1>',
				'subtitle': '<p class="font-light text-base xl:text-xl mb-2">A&T SISTEM je firma kojoj sa punim poverenjem možete poveriti kompletne radove oko izgradnje komercijalnih i rezidencijalnih betonskih bazena, od izrade idejnog rešenja do puštanja bazenskog sistema u rad.</p>'
	    }
	  %}

	  {% include_dnd_partial
	    path='../sections/services-expanded-slider.html',
			context={
				'title': '<h2>Naše usluge</h2>'
			}
	  %}

		{% include_dnd_partial
	    path='../sections/image-collage.html'
	  %}


		{% include_dnd_partial
	    path='../sections/banner-small.html',
			context={
				'text_field': 'Niste pronašli ono što Vas zanima ili Vam treba još informacija?',
				'link_label': 'Pošaljite upit',
				'link_field': {
          "url": {
            "href": '/kontakt'
          },
        }
			}
	  %}

		{% include_dnd_partial
      path='../sections/image-w-text-gradient.html',
      context={
        'title': 'BWT - Pouzdan Partner',
        'description': 'A&T SISTEM je Vas pouzdan partner u projektovanju i izgradnji bazena dugi niz godina, a nasa saradnja sa BWI POOL PRODUCTS, renomiranim proizvodacem bazenske opreme garantuje vrhunski kvalitet uredaja, hidraulicki optimizovana resenja lum Iskusnin struchjaka na raspolaganju.<br><small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>',
        'link_label': 'Pogledajte ponudu',
				'link': {
					"url": {
						"type": "EXTERNAL",
						"href": "https://shop.atsistem.rs/sr/collections/all?sort_by=title-ascending&filter.p.vendor=BWT+POOL+PRODUCTS",
						"content_id": null
					},
					"open_in_new_tab": false,
					"no_follow": false
				},
        'reverse_content_direction': true,
				'image_field': {
					"src": 'https://atsistem.rs/hs-fs/hubfs/Sadrzaj%20Usluge/bwt_m11.jpg?noresize',
					"alt": "BWT Pool Products",
					"size_type": "auto",
					"width": 725,
					"height": 360,
					"loading": "lazy",
					"max_width": 725,
					"max_height": 360
				}
      }
    %}

		{% include_dnd_partial
	    path='../sections/image-with-text.html',
			context={
				'title': 'Pokrivač za bazen',
				'description': "Prekrivač za bazen štiti od prašine, lišća, insekata i nečistoće, zadržava željenu temperaturu vode, i smanjuje mogućnost stvaranja algi, a ima naročito važnu ulogu za bezbednost dece i kućnih ljubimaca. Otkrijete našu fantastičnu ponudu koja obuhvata sve tipove bazenskih pokrivača, uključujući i bazenske kupole i pokretne konstrukcije po kojima može da se hoda.",
				'link_label': 'Pogledajte ponudu',
				'link': {
					"url": {
						"type": "EXTERNAL",
						"href": "/bazeni/pokrivaci-za-bazene",
						"content_id": null
					},
					"open_in_new_tab": false,
					"no_follow": false
				},
				'h_tag_choice': 'h3',
				'image_field': {
					"src": 'https://atsistem.rs/hubfs/Sadrzaj%20Usluge/Pokrivac%20za%20bazen.jpeg?noresize',
					"alt": "Pokrivac za bazen",
					"size_type": "auto",
					"width": 725,
					"height": 360,
					"loading": "lazy",
					"max_width": 725,
					"max_height": 360
				}
			}
	  %}

		{% include_dnd_partial
	    path='../sections/image-with-text.html',
			context={
				'title': 'Drveni Bazeni',
				'description': "Drveni bazeni BWT su osmišljeni i dizajnirani tako da se uklope u prirodni ambijent, i da vlasnicima pruže sav komfor i sigurnost, uz racionalnu potrošnju energije. Proizvedeni su u Francuskoj, u strogo kontrolisanim uslovima.",
				'link_label': 'Pogledajte ponudu',
				'link': {
					"url": {
						"type": "EXTERNAL",
						"href": "/bazeni/gotovi-bazeni",
						"content_id": null
					},
					"open_in_new_tab": false,
					"no_follow": false
				},
				'h_tag_choice': 'h3',
				'reverse_content_direction': true,
				'image_field': {
            "src": 'https://atsistem.rs/hubfs/Usluge%20Sadrzaj/wooden%20pool.jpg?noresize',
            "alt": "Drveni bazeni",
            "size_type": "auto",
            "width": 725,
            "height": 360,
            "loading": "lazy",
            "max_width": 725,
            "max_height": 360
          }
			}
	  %}

		{% include_dnd_partial
	    path='../sections/image-gallery-slider.html',
			context={
				'title': '<h2>Galerija</h2>',
				'images': [
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.14.1.jpeg",
						"alt": "img.14.1",
						"loading": "lazy",
						"width": 1000,
						"height": 750,
						"max_width": 1000,
						"max_height": 750
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.17.1.jpeg",
						"alt": "img.17.1",
						"loading": "lazy",
						"width": 1000,
						"height": 750,
						"max_width": 1000,
						"max_height": 750
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.16.1.jpeg",
						"alt": "img.16.1",
						"loading": "lazy",
						"width": 1000,
						"height": 750,
						"max_width": 1000,
						"max_height": 750
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.21.1.jpeg",
						"alt": "img.21.1",
						"loading": "lazy",
						"width": 1000,
						"height": 750,
						"max_width": 1000,
						"max_height": 750
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.23.jpg",
						"alt": "img.23",
						"loading": "lazy",
						"width": 1000,
						"height": 750,
						"max_width": 1000,
						"max_height": 750
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hubfs/Galerija%20Pocetna%20Slider/Spa/img.s8.jpg",
						"alt": "img.s8",
						"loading": "lazy",
						"width": 1000,
						"height": 750,
						"max_width": 1000,
						"max_height": 750
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hubfs/Galerija%20Pocetna%20Slider/Spa/wellness.jpg",
						"alt": "wellness",
						"loading": "lazy",
						"width": 1000,
						"height": 750,
						"max_width": 1000,
						"max_height": 750
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.25.jpg",
						"alt": "img.25",
						"loading": "lazy",
						"width": 1000,
						"height": 750,
						"max_width": 1000,
						"max_height": 750
						}
					},
					{
						"image": {
						"size_type": "auto",
						"src": "https://atsistem.rs/hubfs/Galerija%20Pocetna%20Slider/Bazeni/img.12.1.jpeg",
						"alt": "img.12.1",
						"loading": "lazy",
						"width": 1000,
						"height": 750,
						"max_width": 1000,
						"max_height": 750
						}
					}
				]
			}
	  %}

	{% end_dnd_area %}
{% endblock body %}
