<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pool Equipment
  screenshotPath: ../images/template-previews/pool-equipment.png
 -->

{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
{% dnd_area 'dnd_area'
label='Main section',
class='body-container body-container--home'
%}


{% include_dnd_partial
path='../sections/header-1.html',
context={
'custom_section_classes': 'px-4 pt-[140px] pb-6 text-center',
'title': '<h1>Oprema za bazene</h1>',
'subtitle': '<p class="font-light text-lg md:text-3xl">A&T SISTEM je firma kojoj sa punim poverenjem možete poveriti kompletne radove oko izgradnje komercijalnih i rezidencijalnih betonskih bazena, od izrade idejnog rešenja do puštanja bazenskog sistema u rad.</p>'
}
%}


{% include_dnd_partial
path='../sections/products-grid.html',
%}

{% include_dnd_partial
path='../sections/image-w-text-gradient.html',
%}

{% include_dnd_partial
path='../sections/products-grid.html',
%}


{% end_dnd_area %}
{% endblock body %}
