<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pool Equipment 2
  screenshotPath: ../images/template-previews/pool-equipment2.jpg
 -->

{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd_area'
    label='Main section',
    class='body-container body-container--home'
  %}

    {% include_dnd_partial
      path='../sections/header-1.html',
      context={
        'title': '<h1>Oprema za bazene</h1>',
        'subtitle': '<p class="font-light text-lg xl:text-3xl mb-2">A&T SISTEM nudi širok asortiman opreme za bazene renomeniranih proizvođača.</p>',
				'button_text': 'POGLEDAJTE PONUDU',
        'link': { "url": { "type": "EXTERNAL", "href": "https://shop.atsistem.rs/sr/collections/all", "content_id": null }, "open_in_new_tab": false, "no_follow": false }
      }
    %}

    {% dnd_section
      padding={
        'top': '40px',
        'bottom': '0',
        'left': '40px',
        'right': '40px'
      }
    %}
      {% dnd_column offset=0, width=12 %}
        {% dnd_row %}
          {% dnd_module 
            path='@hubspot/rich_text',
				    html='
              <h2>Kompletna bazenska oprema na jednom mestu</h2>
              <p>Najveću razliku za izbor bazenske opreme čini da li je bazen za privatnu ili javnu upotrebu. A što se tiče kvaliteta proizvoda, tu ne pravimo kompromis – naša ponuda sastoji se isključivo od odabranih proizvoda proverenog kvaliteta.
              <br>
              <br>
              A&T ponuda osnovne opreme za bazen obuhvata sve ugradne elemente i tehničku opremu bez kojih bazen ne bi mogao da funkcioniše, a to su: hidraulična mreža, ugradni elementi za cirkulaciju, pumpno filterski blok, elektroupravljačke komponente, osnovna oprema za održavanje.
              <br>
              <br>
              Pored osnovne opreme postoji širok izbor dodatne bazenske opreme, u koju spada podvodna rasveta, oprema za grejanje bazenske vode (za produžetak sezone korišćenja bazena), hemijski tretman (bazenska voda treba da ima kvalitet pijaće vode), pokrivanje bazena (čuva bazen od prljanja i brzog hlađenja vode), bazenske atrakcije (za vežbanje, rekreaciju, dekoraciju), automatsko čišćenje bazena i drugo.
              </p>
            '
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Bazenska filtracija',
        'description': 'Možemo reći da je pumpno-filtersko postrojenje najvažniji deo bazenske opreme, koji omogućava cirkulaciju i mehaničko prečišćavanje bazenske vode. Naša ponuda obuhvata kvalitetne peščane filtere za rezidencijalne i javne bazene, cirkulacione pumpe, višenamenske ventile, automatske uređaje za filtraciju, specijlnu filtersku ispunu.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu',
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://shop.atsistem.rs/sr/collections/bazenska-filtracija/",
            "content_id": null
          },
          "open_in_new_tab": false,
          "no_follow": false
        }
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Podvodna rasveta',
        'description': 'Sigurni smo da se ne biste odrekli kupanja u svom bazenu u vrelim letnjim noćima! Podvodna rasveta ne samo da omogućava uživanje u bazenu kad nema dnevnog svetla, već ima dekorativnu, i naravno, bezbednosnu ulogu',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu',
        'reverse_content_direction': true,
        'image_field': {
          "src": 'https://atsistem.rs/hubfs/Sadrzaj%20Oprema/podvodna%20rasveta.jpg',
          "alt": "Podvodna rasveta bazena",
          "size_type": null,
          "width": 725,
          "height": 500,
          "loading": "lazy",
          "max_width": 725,
          "max_height": 500
        }
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Automatski hemijski tretman',
        'description': 'Za održavanje besprekornog kvaliteta bazenske vode nudimo najsavremeniju merno dozirnu tehniku velike preciznosti za doziranje hemijskih sredstava u minimalnoj količini. Tu su i uređaji za elektrolizu i hidrolizu vode, sa niskom koncentracijom soli i UV lampe za dodatnu dezinfekciju.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu'
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Grejanje i odvlaživanje',
        'description': 'Toplotne inverter pumpe su namenjene privatnim i komercijalnim bazenima za produženu sezonu kupanja. Nudimo širok dijapazon proizvoda, od BWT Mitsubishi Zubadan toplotnih pumpi, proizvedenih u Francuskoj, do odličnih Fairland uređaja, proizvedenih u Kini i sertifikovanih u EU.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu',
        'reverse_content_direction': true,
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://shop.atsistem.rs/sr/collections/grejanje-i-odvlazivanje/",
            "content_id": null
          },
          "open_in_new_tab": false,
          "no_follow": false
        }
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Čišćenje i održavanje bazena',
        'description': 'Roboti postepeno preuzimaju dominantnu ulogu kada je reč o održavanju bazena jer su efiksni i lagani za korišćenje, a najnovija generacija bežičnih roborta na baterije dizajnirana je tako da pruži još veći komfor korisnicima.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu',
        'image_field': {
          "src": 'https://atsistem.rs/hubfs/Sadrzaj%20Oprema/ciscenje.jpg',
          "alt": "Čišćenje i održavanje bazena",
          "size_type": null,
          "width": 725,
          "height": 500,
          "loading": "lazy",
          "max_width": 725,
          "max_height": 500
        },
        'link': {
          "url": {
            "type": "EXTERNAL",
            "href": "https://shop.atsistem.rs/sr/collections/oprema-za-odrzavanje-bazena/",
            "content_id": null
          },
          "open_in_new_tab": false,
          "no_follow": false
        }
      }
    %}

    {% include_dnd_partial
      path='../sections/image-w-text-gradient.html',
      context={
        'title': 'Pokrivač za bazen',
        'description': 'Ako razmišljate o nabavci pokrivača za bazen, naš stručni tim vam može pružiti informacije o različitim tipovima proizvoda i njihovim mogućnostima, kako biste u skladu sa željom i raspoloživim budžetom odabrali najprikladniji model.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu',
        'reverse_content_direction': true,
        'image_field': {
          "src": 'https://atsistem.rs/hubfs/Usluge%20Sadrzaj/pool%20cover.jpeg',
          "alt": "pexels-max-vakhtbovych-7587466 1",
          "size_type": null,
          "width": 725,
          "height": 500,
          "loading": "lazy",
          "max_width": 725,
          "max_height": 500
        }
      }
    %}

    {% include_dnd_partial
      path='../sections/products-grid.html',
      context={
        'show_image': true,
        'cards':[
          {
            "collection": "Bazenske atrakcije",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Bazenske%20Atrakcije.png",
            "alt": "Bazenske atrakcije",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "Turbo Džetovi",
              "Slapovi",
              "Topovi",
              "Hidromasaže",
              "Aeromasaže",
              "Vodene Igre",
              "Tobogani"
            ],
            "link_group": {
            "link_label": "Pogledajte ponudu",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://shop.atsistem.rs/sr/collections/bazenske-atrakcije/",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Dodajte bazenu ekstra kvalitet ugradnjom neke od bazenskih atrakcija.<br>Pružamo tehnička rešenja koja prate želje klijenata, bilo da se radi o hidromasaži leđa i nogu, vazdušnim ležaljkama, ramenoj masaži, turbo džetovima, vodenim slapovima, ili gejzirima."
          },
          {
            "collection": "Bazensko okruženje",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Oprema/bazensko%20okruzenje.jpeg",
            "alt": "Bazensko okruženje",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "Merdevine i Rukohvati",
              "Stepenište",
              "Ležaljke",
              "Stočići i Stolice",
              "Suncobrani",
              "Solarni Tuševi"
            ],
            "link_group": {
            "link_label": "Pogledajte ponudu",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://shop.atsistem.rs/sr/collections/bazensko-okruzenje/",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "U našoj ponudi je kompletan program solarnih i tradicionalnih tuševa, ležaljki, stolova i dodatne opreme, koji donosi jedinstven pečat luksuza i maksimalnog komfora, a prostor oko bazena, i u bazenu, pretvara u oazu za opuštanje, kojoj svi jedva čekaju da se vrate."
          },
          {
            "collection": "Hemija za bazene",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Oprema/hemija%20za%20bazene.jpeg",
            "alt": "Hemija za bazene",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "Tečni PH Korektor - Minus",
              "Tečni Dezinficijens - Hlor",
              "Hlor - Granulat",
              "PH Minus - Granulat",
              "Tablete - Multi",
              "Algicid",
              "Flokulant"
            ],
            "link_group": {
            "link_label": "Pogledajte ponudu",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://shop.atsistem.rs/sr/collections/hemijski-tretman-bazenske-vode/",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Održavanje kvaliteta vode u bazenu nije samo neophodno zbog zdravlja korisnika i estetike bazena, već utiče na izgled i trajanje svih komponenata bazenske opreme. Koristite samo sredstva renomiranih proizvođača i pridržavajte se njhovih preporuka za korišćenje."
          },
          {
            "collection": "Stakleni mozaik",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Sadrzaj%20Oprema/stakleni%20mozaik.jpg",
            "alt": "Stakleni mozaik",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "List Item 1"
            ],
            "link_group": {
            "link_label": "Pogledajte ponudu",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://shop.atsistem.rs/sr/collections/stakleni-mozaik/",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Završni pečat vašem bazenu daće stakleni mozaik koji se pod vodom i na suncu, presijava u bezbroj neuhvatljivih nijansi. Mat, sjajan, sedefast, luminescentan, izbor je veliki, a kvalitet vrhunski. Jer to je MOSAVIT® stakleni mozaik, dizajniran da odgovori svim zahtevima."
          }
        ]
      }
    %}

    {% include_dnd_partial
      path='../sections/image-w-text-gradient.html',
      context={
        'title': 'BWT - Pool Products',
        'description': 'Ekspert u proizvodnji opreme za rezidencijalne i javne bazene, koji svoje dugogodišnje znanje, iskustvo i kvalitet stavlja našim klijentima na raspolaganje, kada se radi o specifičnim sistemskim rešenjima, uz maksimalnu hidrauličku optimizaciju.',
        'link_label': 'Pogledajte ponudu',
        'reverse_content_direction': true,
        'image_field': {
          "src": 'https://atsistem.rs/hubfs/Sadrzaj%20Oprema/BWT_LOGO.png',
          "alt": "BWT Logo",
          "size_type": null,
          "width": 725,
          "height": 500,
          "loading": "lazy",
          "max_width": 725,
          "max_height": 500
        }
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'IBG® - Praher® cevi i ventili',
        'description': 'Veleprodaja PVC-U cevi, ventila i fitinga, sa radnim pritiskom 10 - 16 bara, proizvedenih u skladu sa standardima kvaliteta za pijaću vodu, prehrambenu industriju i industriju pića.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu'
      }
    %}

  {% end_dnd_area %}
{% endblock body %}
