<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pool Equipment 2
  screenshotPath: ../images/template-previews/pool-equipment2.jpg
 -->

{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd_area'
    label='Main section',
    class='body-container body-container--home'
  %}

    {% include_dnd_partial
      path='../sections/header-1.html',
      context={
        'title': '<h1>Oprema za bazene</h1>',
        'subtitle': '<p class="font-light text-lg xl:text-3xl mb-2">A&T SISTEM nudi širok asortiman opreme za bazene renomeniranih proizvođača.</p>',
				'button_text': 'POGLEDAJTE PONUDU'
      }
    %}

    {% dnd_section
      padding={
        'top': '40px',
        'bottom': '0',
        'left': '40px',
        'right': '40px'
      }
    %}
      {% dnd_column offset=0, width=12 %}
        {% dnd_row %}
          {% dnd_module 
            path='@hubspot/rich_text',
				    html='
              <h2>Kompletna bazenska oprema na jednom mestu</h2>
              <p>Najveću razliku za izbor bazenske opreme čini da li je bazen za privatnu ili javnu upotrebu. A što se tiče kvaliteta proizvoda, tu ne pravimo kompromis – naša ponuda sastoji se isključivo od odabranih proizvoda proverenog kvaliteta.
              <br>
              <br>
              A&T ponuda osnovne opreme za bazen obuhvata sve ugradne elemente i tehničku opremu bez kojih bazen ne bi mogao da funkcioniše, a to su: hidraulična mreža, ugradni elementi za cirkulaciju, pumpno filterski blok, elektroupravljačke komponente, osnovna oprema za održavanje.
              <br>
              <br>
              Pored osnovne opreme postoji širok izbor dodatne bazenske opreme, u koju spada podvodna rasveta, oprema za grejanje bazenske vode (za produžetak sezone korišćenja bazena), hemijski tretman (bazenska voda treba da ima kvalitet pijaće vode), pokrivanje bazena (čuva bazen od prljanja i brzog hlađenja vode), bazenske atrakcije (za vežbanje, rekreaciju, dekoraciju), automatsko čišćenje bazena i drugo.
              </p>
            '
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Bazenska filtracija',
        'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu'
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Podvodna rasveta',
        'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu',
        'reverse_content_direction': true
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Automatski hemijski tretman',
        'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu'
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Grejanje i odvlaživanje',
        'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu',
        'reverse_content_direction': true
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'Čišćenje i održavanje bazena',
        'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
        'h_tag_choice': 'h3',
        'link_label': 'Pogledajte ponudu'
      }
    %}

    {% include_dnd_partial
      path='../sections/image-w-text-gradient.html',
      context={
        'title': 'Pokrivač za bazen',
        'description': 'Otkrijete našu fantastičnu ponudu koja obuhvata sve tipove bazenskih pokrivača, uključujući i bazenske kupole i pokretne konstrukcije po kojima može da se hoda.',
        'h_tag_choice': 'h3',
        'link_label': 'Opširnije',
        'reverse_content_direction': true,
        'image_field': {
            "src": 'https://atsistem.rs/hubfs/Usluge%20Sadrzaj/pool%20cover.jpeg',
            "alt": "pexels-max-vakhtbovych-7587466 1",
            "size_type": null,
            "width": 725,
            "height": 500,
            "loading": "lazy",
            "max_width": 725,
            "max_height": 500
          }
      }
    %}

    {% include_dnd_partial
      path='../sections/products-grid.html',
      context={
        'show_image': true,
        'cards':[
          {
            "collection": "Bazenske atrakcije",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Bazenske%20Atrakcije.png",
            "alt": "Bazenske atrakcije",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "Turbo Džetovi",
              "Slapovi",
              "Topovi",
              "Hidromasaže",
              "Aeromasaže",
              "Vodene Igre",
              "Tobogani"
            ],
            "link_group": {
            "link_label": "Vidi Više",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://google.com",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          },
          {
            "collection": "Bazensko okruženje",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Bazensko%20Okruzenje.png",
            "alt": "Bazensko okruženje",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "Merdevine i Rukohvati",
              "Stepenište",
              "Ležaljke",
              "Stočići i Stolice",
              "Suncobrani",
              "Solarni Tuševi"
            ],
            "link_group": {
            "link_label": "Vidi Više",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://google.com",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          },
          {
            "collection": "Hemija za bazene",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Hemija%20za%20Bazene.png",
            "alt": "Hemija za bazene",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "Tečni PH Korektor - Minus",
              "Tečni Dezinficijens - Hlor",
              "Hlor - Granulat",
              "PH Minus - Granulat",
              "Tablete - Multi",
              "Algicid",
              "Flokulant"
            ],
            "link_group": {
            "link_label": "Vidi Više",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://google.com",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          },
          {
            "collection": "Stakleni mozaik",
            "image_field": {
            "size_type": "auto",
            "src": "https://atsistem.rs/hubfs/Br-2001.jpg",
            "alt": "Stakleni mozaik",
            "loading": "lazy",
            },
            "description_type": "paragraph",
            "list": [
              "List Item 1"
            ],
            "link_group": {
            "link_label": "Vidi Više",
            "link": {
              "url": {
              "content_id": null,
              "href": "https://google.com",
              "type": "EXTERNAL"
              },
              "open_in_new_tab": false,
              "no_follow": false
            }
            },
            "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          }
        ]
      }
    %}

    {% include_dnd_partial
      path='../sections/image-w-text-gradient.html',
      context={
        'title': 'BWT - Pool Products',
        'description': 'Sa ponosom predstavljamo našeg dugogodišnjeg partnera, koji proizvodi bazensku opremu vrhunskog kvalitete u čak tri svoje fabrike u Bretanji, na severu Francuske.<br><small class="mt-0.5">©photo creadit : BWT POOL PRODUCTS</small>',
        'link_label': 'Više o brendu',
        'reverse_content_direction': true,
        'image_field': {
            "src": 'https://atsistem.rs/hubfs/Usluge%20Sadrzaj/BWT%20Pool%20Products.jpg',
            "alt": "pexels-max-vakhtbovych-7587466 1",
            "size_type": null,
            "width": 725,
            "height": 500,
            "loading": "lazy",
            "max_width": 725,
            "max_height": 500
          }
      }
    %}

    {% include_dnd_partial
      path='../sections/image-with-text.html',
      context={
        'title': 'IBG® - Praher® cevi i ventili',
        'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
        'h_tag_choice': 'h3',
        'link_label': 'Opširnije'
      }
    %}

  {% end_dnd_area %}
{% endblock body %}
