<!--
  templateType: page
  isAvailableForNewContent: true
  label: Wellness
  screenshotPath: ../images/template-previews/wellness.jpg
 -->
 
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
	{% dnd_area 'dnd_area'
	  label='Main section',
	  class='body-container body-container--home'
	%}

	  {% include_dnd_partial
	    path='../sections/header-1.html',
	    context={
			'custom_section_classes': 'px-4 pt-[140px] pb-6 text-center',
	      'title': '<h1>Wellness</h1>',
				'subtitle': '<p class="font-light text-lg md:text-3xl">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>'
	    }
	  %}

		{% include_dnd_partial
			path='../sections/image-cards.html'
		%}

		{% include_dnd_partial
			path='../sections/image-cards.html',
			context={
				'backgroundColor': '#ffffff'
			}
		%}

		{% include_dnd_partial
			path='../sections/image-with-text.html'
		%}

		{% include_dnd_partial
			path='../sections/featured-services.html'
		%}


	{% end_dnd_area %}
{% endblock body %}
