html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}

html[lang^="en"] body,
html[lang^="sr"] body {
  word-break: keep-all;
}

body {
  color: var(--color-text);
  background-color: var(--body-bg-color);
  -webkit-font-smoothing: antialiased;
}

/*****************************************/
/*************** Buttons *****************/
/*****************************************/

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Horizontal rules */

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}