<div class="w-full h-full relative">
  <div class="image-gallery-slider-{{name}} swiper">
    <div class="flex items-start swiper-wrapper">
      {% for item in module.images %}
      <div class="swiper-slide max-w-xl">
        <img class="w-full h-[300px] lg:h-[350px] object-center object-cover" src="{{ item.image.src }}"
          width="{{item.image.width}}" height="{{item.image.height}}" loading="{{item.image.loading}}"
          alt="{{ item.image.alt }}">
        {% if item.show_title %}
        <p class="font-bold mt-1 text-center">{{ item.image_title }}</p>
        {% endif %}
        {% if item.show_link %}
        <a class="button block w-full mt-1 text-center" href="{{ item.link_field.url.href }}" {{ 'target="_blank"' if
          item.link_field.open_in_new_tab }}>
          {{ item.link_label }}
        </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="swiper-button-next swiper-button-next-{{name}} !-right-[35px]"></div>
  <div class="swiper-button-prev swiper-button-prev-{{name}} !-left-[35px]"></div>
</div>


{% require_js %}
<script defer>
  if (!checkHeadForSwiper()) {
    let script = document.createElement('script');
    script.src = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js';
    script.defer = true;
    document.head.appendChild(script);

    let link = document.createElement('link');
    link.rel = 'stylesheet';
    link.href = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css';
    document.head.appendChild(link);
  }

  window.addEventListener('load', () => {
    const swiper = new Swiper(".image-gallery-slider-" + '{{name}}', {
      slidesPerView: "auto",
      spaceBetween: 60,
      navigation: {
        nextEl: ".swiper-button-next-{{name}}",
        prevEl: ".swiper-button-prev-{{name}}",
      },
      freeMode: {
        enabled: true,
        sticky: true,
      },
      mousewheel: {
        forceToAxis: true,
      },
      {# autoplay: {
      delay: 5000,
      disableOnInteraction: true,
    }, #}
    });
  })

</script>
{% end_require_js %}